What is the output of the code?

In [ ]:
X = 10
def my_fun():
    global X
    print('X is: ', X)
    X = 8

my_fun()
print('Value of X is: ', X)

In [ ]:

def func(val1, val2=2, val3=7, val4=1):
    return val1*val2*val3

print(func(val2=3, val1=2, val3=4))

What is the output of this code?

In [ ]:
list1 = [1, 2, 3]
list2 = list1
list3 = list1.copy()
list1[0] = 7
print(list1, list2, list3)

What is the output of this code?

In [ ]:
l1 = [1, [2, 3], [4,3,1]]
l2 = l1.copy()
l2[2][0]=7
print(l1, l2)

In this list, how will you access the letter ‘t’ in ‘bat’?

In [ ]:
my_list = [7, ['A', 'B', ['ball', 'bat', 'cup'], 'C'], 5]
my_list[1][2][1][2]

In [ ]:
a = (1, 2, 7, 8) 
a = a[:2] +(3, 4, 5, 6) + a[2:]
a

In [ ]:
scores = {'Alex': 87, 'Alper': 88, 'Megan':96}

if scores['Alex'] > 87:
        print("Scholar")
elif scores['Alper'] > 89:
        print("Topper")
elif scores['Megan'] > 87:
        print("Teacher")
else: print("Nobody topped")

In [ ]:
list1 = ['a','b','c']
list1 += 'de'
list1

In [ ]:
examp = 'acf'
examp += 'de'
examp

In [ ]:

a=2
def func(a):
    return a**2

a = func(a)**2
print(func(a))

In [ ]:
class A:
    def my_fun1(self):
        return self.my_fun2()
    
    def two(self):
        return 'A'
    
class B(A):
    def two(self):
        return 'B'
    
obj = B()
print(obj.two())

In [ ]:
class test():
    def __init__(self,a='A',b):
        self.a = a
        
    def display(self):
        print(self.b)
        
obj = test()
obj.display()

In [ ]:
def my_fun(var):
    var = var +1 
    print("the value of the varibale inside the function is ", var)
    return var

a = 100
my_fun(a)
print("the value of the varibale outside the function is ", a)

In [ ]:
class People():

    def __init__(self, name):
        self.name = name

    def namePrint(self):
        print("Name: " + self.name)

person1 = People("Sara")
person2 = People("Alex")
person1.namePrint()

In [ ]:
class Test:
    def __init__(self):
        self.x = 0
class Derived_Test(Test):
    def __init__(self):
        self.y = 1
def main():
    b = Derived_Test()
    print(b.x,b.y)
main()

In [ ]:
def main():
    first_name = 'Sara'
    last_name = 'Gaddis'
    name1, name2 = get_name(last_name,first_name)
    print(name1,name2)
    
def get_name(first,last):
    return first, last

main()

In [ ]:
def my_fun(num1,num2,num3,num4):
    return (num1+num2)*(num3+num4)

var = my_fun(2,3,1)
print(var)

In [ ]:

set1 = set(['d','e','f','g'])
set2 = set(['a','b','c','d','e'])
set1.intersection(set2)

In [ ]:

dct = {'AD':[1,2], 'AB':([6,7],[3,4]), 'AC':[8,9,[1,3,2]]}
print(dct['AC'][2][1])

In [ ]:
string = 'Two Million Cent and Seventy Cents'
new_string = string.replace('Cents','Dollars')
print(new_string)

In [ ]:
a = 7 
b = 4 
c = 13
d = 2
not(a < b or c > a) and (b < c and a>d)

In [ ]:

def main():
    height = 189
    Height= get_height()
    print('My height is',height)
    
def get_height():
    Height = 198
    Height = 179
    return Height
    
main()

In [ ]:
for name1 in ['Sara','Alex','John']:
    for name2 in ['Peter','Karen']:
        print(name1, name2)

In [ ]:
def test(n):
    if n in range(8,31):
        return n+20
    else:
        status = True
    return status

var = test(31)
print(var)

In [ ]:
def function1( x, y ):
    if x <= y:
        return x+y
    return x-y
def function2( x, y, z ):
    return function1(x,y)-10

print(function2(5, 1, 10))

In [ ]:
val1 = ['one', 'two', 'three'] 
val2 = tuple(val1) + (2,)
print(val2)

In [ ]:

city1 = 'New York' 
size1 = len(city1)

city2 = 'Chicago'
size2 = len(city2)


if size1 <= size2:
    print(size1-size2)
else:
    print(size1+size2)

In [ ]:
friend = 'Bill'
friend[1]='A'
friend

In [ ]:
class Art:
    def __init__(self, art_type):
        self.__art_type = art_type 
    def message(self):
        print("I'm a piece of art.") 
        
class Painting(Art):
    def __init__(self,color): 
        Art.__init__(self, 'music')
        self.__color = color
    def message(self):
        print(self.__color) 
        
paint = Painting('Blue')
art = Art('Music')
art.message()
paint.message()

What is a correct syntax to return the first value of a Pandas Series?

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
get(my_series,0)
my_series[0]
my_series.get(0)

What is a correct syntax to create a Pandas DataFrame?

In [ ]:
pd.dataframe(data)
pd.DataFrame(data)
pd.df(data)

What is a correct syntax to return the first row in a Pandas DataFrame?

In [ ]:
df[0]
df.iloc[0]
df.get(0)

What is the correct Pandas function for loading CSV files into a DataFrame?

In [ ]:
read_csv()
ReadCSV()
read_file()
ReadFile()

Which of the following arrays is a two dimensional (2-D) array?

In [ ]:
[[1,2,3],[4,5,6]]
[1,2,3]
42

What is a correct syntax to print the number 8 from the array below:

arr = np.array([[1,2,3,4,5], [6,7,8,9,10]])

In [ ]:
print(arr[3,0])
print(arr[1,2])
print(arr[7,2])

What is a correct syntax to print the numbers [3, 4, 5] from the array below:

arr = np.array([1,2,3,4,5,6,7])

In [ ]:
import numpy as np
arr = np.array([1,2,3,4,5,6,7])
print(arr[2:5])

In [ ]:
np.array([range(i, i + 3) for i in [2, 4, 6]])

In [ ]:
another_array = np.array([[12,  5,  2,  4],
                          [ 7,  6,  8,  8],
                          [ 1,  6,  7,  7]])
another_array[1:2,:].shape

In [ ]:
exp_array = np.array([[12,  5,  2,  4],
                      [ 7,  6,  8,  8],
                      [ 1,  6,  7,  7]])

filter_array = exp_array >7
filter_array.any()

In [ ]:
exp_array = np.array([[12,  5,  2,  4],
                      [ 7,  6,  8,  8],
                      [ 1,  6,  7,  7]])

filter_array = (exp_array<5) & (exp_array>2)
print(exp_array[filter_array])

In [ ]:
Which syntax would print every other item from the array below:

arr = np.array([1,2,3,4,5,6,7])

In [ ]:
print(arr[::2])

In [ ]:
a_matrix = np.ones((3,3))
print(a_matrix)
an_array = np.array([[0,11],[1,22],[2,33]])  
a_matrix + an_array

In [ ]:
B = np.array([[0,11],[1,22],[2,33]]) 
print(B.sum(axis = 0))

In [ ]:
an_array = np.random.randint(1,10,(4, 5))
print(an_array)
sum_result = an_array.sum(axis = 1, keepdims=True)
print(sum_result)
print(sum_result.shape)

In [ ]:
names = np.array(['Jhon','Ali','Miria'])
ages = np.array([18,22,11])
sorted_index = ages.argsort()[::-1]
print(names[sorted_index])

In NumPy, what does the SHAPE of an array mean?<br>
The shape is the number of elements in each dimension<br>
the sahpe is the number of columns<br>
the shape is the number of rows

In [ ]:
What will be output for the following code?
import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s['a'])

In [ ]:
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(2))
print(s.size)

To extract the first three rows and three columns of a dataframe:

In [ ]:
df=[[1,2,3,14,15],[4,5,6,17,18],[11,12,13,14,20],[21,22,23,24,25]]
df3=pd.DataFrame(df)
df3.iloc[0:3,0:3]

What will be output of given code?

In [ ]:
df = pd.DataFrame({'c1':[12,34,45],'c2':[32,21,44],'c3':[74,41,20]})
print(df)
print(df.index)

The following code produces which DataFrame?

In [ ]:
df=pd.DataFrame({"a" : [4 ,5, 6],
              "b" : [7, 8, 9],
              "c" : [10, 11, 12]})
df

	a	b	c
0	4	7	10
1	5	8	11
2	6	9	12


    0	1	2
a	4	5	6
b	7	8	9
c	10	11	12


    a	b	c
0	4	5	6
1	7	8	9
2	10	11	12


    a	b	c
a	4	7	10
b	5	8	11
c	6	9	12

In [ ]:
import numpy as np
a = np.array([1,2,3,5,8])
b = np.array([0,3,4,2,1])
c = a + b
print (c)
c = c*a
print (c[2])

In [ ]:
import numpy as np
ary = np.array([1,2,3,5,8])
ary = ary + 1
print (ary[1])

In [ ]:
import numpy as np
a = np.array([[1,2,3],[0,1,4]])
b = np.zeros((2,3))
c = np.ones((2,3))
d = a + b + c
print (d[1,2] )

In [ ]:
a_list = [{'a':10,'b':15},{'b':18,'c':11,'d':5}]
a_DataFrame = pd.DataFrame(a_list)
a_DataFrame

In [ ]:
df1 = pd.DataFrame([['A00', 'A01'],['A10','A11']], 
                   columns = ['A0','A1'], 
                   index = [0,1]) 

df2 = pd.DataFrame([['A20', 'A21'],['A30','A31']], 
                   columns = ['A0','A1'], 
                   index = [0,1]) 

pd.concat([df1,df2],axis =1, ignore_index=True)

In [ ]:
df = pd.DataFrame([['A', 'F', 10, 15],
                   ['A', 'M', 11, 18],
                   ['B', 'F', 15, 22],
                   ['B', 'F', 17, 33],
                   ['A', 'M', 14, 22],
                   ['B', 'M', 17, 28]],
                  columns=['C1', 'C2', 'C3','C4'])

df.groupby('C2').size()

In [ ]:
df.groupby(['C1','C2']).mean()['C3'][2]

In [ ]:
import pandas as pd

exam_data  = {'name': ['Anastasia', 'Dima', 'Emily', 'Michael', 'Matthew'],
        'score': [12.5, 9, 16.5, 9, 20],
        'attempts': [1, 3, 2, 3, 2]}
labels = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(exam_data , index=labels)

print(df[df['attempts'] > 2])

In [ ]:
import pandas as pd
student_data1 = pd.DataFrame({
        'student_id': ['S1', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190]})

student_data2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Madeeha Preston'], 
        'marks': [201, 200, 198]})


merged_data = pd.merge(student_data1, student_data2, on='student_id', how='inner')
print(merged_data)

In [ ]:
import pandas as pd

exam_data  = {'name': ['Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, 19,11],
        'attempts': [1, 3, 2, 3, 2],
        'qualify': ['yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e']

df = pd.DataFrame(exam_data , index=labels)
grouped_single_min = df.groupby('qualify').min()['score'][0]
print(grouped_single_min)

Which of the following code snippets creates and connects to a new SQLite Database?

In [ ]:
import sql
connection = sql.connect("test_database.db")

import sqlite3
connection = sqlite3.create("test_database.db")

from sqlite3 import Connection
connection = Connection("test_database.db")

import sqlite3
connection = sqlite3.connect("test_database.db")

Suppose you have a SQLite database called “people.db” with the following table named People:

What is the type of the results variable in the following code snippet?

In [ ]:
import sqlite3

connection = sqlite3.connection("people.db")
cursor = connection.cursor()
cursor.execute("SELECT * FROM People")
results = cursor.fetchall()

In [ ]:
import sqlite3
conn = sqlite3.connect('chocolate.db')
cur = conn.cursor()
cur.execute('DROP TABLE Products')
cur.execute('''CREATE TABLE Products (Description, UnitCost)''')


cur.execute('''INSERT INTO Products (Description, UnitCost)
                    VALUES("Dark Chocolate Bar",0.99)''')
cur.execute('''INSERT INTO Products (Description, UnitCost)
                    VALUES("Medium Dark Chocolate",2.99)''')
cur.execute('''INSERT INTO Products (Description, UnitCost)
                    VALUES("Milk Chocolate",2)''')
cur.execute('''INSERT INTO Products (Description, UnitCost)
                    VALUES("Chocolate Truffles",5.99)''')
cur.execute('''INSERT INTO Products (Description, UnitCost)
                    VALUES("Chocolate Caramel Bar",3.99)''')
cur.execute('''INSERT INTO Products (Description, UnitCost)
                    VALUES("Chocolate Rasberry Bar",3.99)''')
conn.commit()
cur.execute('''SELECT * FROM Products WHERE Description LIKE "chocolate%"''')

results= cur.fetchall()
results

In [ ]:
import sqlite3

def main():
    conn = sqlite3.connect('chocolate.db')
    cur = conn.cursor()
    cur.execute('''SELECT Description, UnitCost FROM Products where UnitCost>4''')
    
    results = cur.fetchall()
    
    for row in results:
        print(f'{row[0]} {row[1]}')
        
main()

In [ ]:
aList = [4, 8, 12, 16]
aList[1:4] = [20, 24, 28]
print(aList)

What is a correct syntax to print the first item of an array?<br>
print(myArr,1)<br>
print(myArr[0])<br>
print(myArr[1])

Which syntax would print the last 4 numbers from the array below:<br>

arr = np.array([1,2,3,4,5,6,7])

In [ ]:
import numpy as np
arr = np.array([1,2,3,4,5,6,7])
arr[3:]

Only one of the following statements is true when it comes to Copies in NumPy, which one?<br>
The copy should be affected by the changes made to the original array<br>
The copy should not be affected by the changes made to the original array

When using the NumPy random module, how can you return a Normal Data Distrbution with 1000 numbers, concentrated around the number 50, with a standard deviation of 0.2?<br>

What is a correct syntax to return both the first row and the second row in a Pandas DataFrame?<br>
df.loc[[0,1]]<br>
df[[0-1]]<br>
df[[0,1]]<br>
df.loc[[0-1]]

Which of these will not select the last three rows of this DataFrame, ddf?:<br>

ddf.iloc[1:]
<br>

ddf.loc[('A', 'M'):'B']
<br>

ddf.iloc[(0, 1): (1, 1)]
<br>

ddf[('A', 'M'):('B','M')]

In [ ]:
import pandas as pd
df = pd.DataFrame([['A', 'F', 10, 15],
                   ['A', 'M', 11, 18],
                   ['B', 'F', 15, 22],
                   ['B', 'F', 17, 33],
                   ['A', 'M', 14, 22],
                   ['B', 'M', 17, 28]],
                  columns=['C1', 'C2', 'C3','C4'])

ddf=df.groupby(['C1','C2']).mean()
ddf