In [6]:
a=['zoo','ball','soap','qux','ban','ring']
a[4::-3]
max(a[2:4]+['grault'])

'soap'

In [23]:
print(f'{0.523:.0%}') #number of digits to have after performing x*100
print(f'{0.523:.3f}') #decimal points after "." in x

52%
0.523

In [24]:
str1 = "My salary is 7000";
str2 = "7000"

print(str1.isdigit())
print(str2.isdigit())

False
True

In [25]:
str1 = 'Welcome'
print(str1*2)

WelcomeWelcome

In [29]:
str = "My salary is 7000";
print(str.isalnum())

False

In [30]:
str1 = 'Welcome'
print (str1[-3:])

ome

In [31]:
dict1 = {"name": "Mike", "salary": 8000}
temp = dict1.get("age")
print(temp)

None

In [35]:
dict1 = {"key1":1, "key2":2}
dict2 = {"key2":2, "key1":1}
print(dict1 == dict2)

True

In [36]:
sampleDict = dict([
('first', 1),
('second', 2),
('third', 3)
])
print(sampleDict)

{'first': 1, 'second': 2, 'third': 3}

Please select all correct ways to empty the following dictionary

In [37]:
student = { 
  "name": "Emma", 
  "class": 9, 
  "marks": 75 
}
student.clear()  
print(student)

{}

 Select the all correct way to remove the key marks from a dictionary

In [39]:
student = { 
  "name": "Emma", 
  "class": 9, 
  "marks": 75 
}

del student['marks']

print(student)

{'name': 'Emma', 'class': 9}

Select the correct ways to get the value of marks key.

In [ ]:
student = {
  "name": "Emma",
  "class": 9,
  "marks": 75
}
student.get('marks')

In [ ]:
dict1 = {"name": "Mike", "salary": 8000}
temp = dict1.pop("age")
print(temp)

Select the correct way to print Emmaâ€™s age.

In [ ]:
student = {1: {'name': 'Emma', 'age': '27', 'sex': 'Female'},
           2: {'name': 'Mike', 'age': '22', 'sex': 'Male'}}

student[2]['sex']

What are the correct ways to create an empty dictionary

In [ ]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleSet.discard("Blue")
print(sampleSet)

In [ ]:
set1 = {10, 20, 30, 40}
set2 = {50, 20, "10", 60}
set3 = set1.union(set2)
print(set3)

In [ ]:
sampleSet = {"Yellow", "Orange", "Black"}
print(sampleSet[1])

In [ ]:
aSet = {1, 'PYnative', True}
print(aSet)

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 10, 30, 40, 80, 20, 50}

print(set1.issubset(set2))
print(set2.issuperset(set1))

In [ ]:
aSet = {1, 'PYnative', ('abc', 'xyz'), True}
print(aSet)

In [ ]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleSet.add("Blue")
sampleSet.add("Orange")
print(sampleSet)

In [40]:
line = "What will have so will"
L = line.split('h')
print(L)

['W', 'at will ', 'ave so will']

In [67]:
for i in range(1,10):
    for j in range(1,i+1):
        print(i,end='')
    print()

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [68]:
my_string = "Hello World"
i = "i"
while i in my_string: 
    print(i, end =" ")

In [73]:
my_string = "Hello World"
for i in range((my_string)): 
    print(i)

TypeError: 'str' object cannot be interpreted as an integer

In [78]:
my_string = 'Hello World'
for i in range(len(my_string)): 
    print (my_string, end=" ") 
    my_string = 'a'

Hello World a a a a a a a a a a

In [82]:
num =5412
total = 0
for i in num:
    total += i
print(total)

TypeError: 'int' object is not iterable

In [83]:
x = 123
for i in x: 
    print(i)

TypeError: 'int' object is not iterable

In [84]:
var1 = 'Hello World'  
var2 = "WorldofWorlds"
 
print ( var1[0], var2[1:5])

H orld

In [85]:
s = set(['aa', 'bb', 'cc'])
print(s)

{'aa', 'cc', 'bb'}

In [ ]:
{'b', 'a', 'r'} & set('qux')

In [ ]:
{1, 2, 3, 4, 5} - {3, 4} ^ {5, 6, 7}

What is the expression involving x that accesses the value 30?

In [88]:
x = [
    'a',
    'b',
    {
        'foo': 1,
        'bar':
        {
            'x' : 10,
            'y' : 20,
            'z' : 30
        },
        'baz': 3
    },
    'c',
    'd'
]
print(x[2]['bar']['z'])

30

In [89]:
Id_numbers = [['156AB','234RQ'],['456YT','781WE'],['973BN','145CH']]
print(Id_numbers[2][1])

145CH

In [91]:
my_list = [1,2,3,4,5]
del my_list[3]
print(my_list)
#empty the list
my_list*=0
print(my_list)

[1, 2, 3, 5]
[]

In [94]:
tuplex = tuple("index tuple")
index = tuplex.index('p')
print(index)

8

In [95]:
my_tuple = tuple('find index')


my_index = my_tuple.index('i')
print(my_index)

my_index = my_tuple.index('n')
print(my_index)

1
2

In [96]:
tuplex = ("w", "a", "e", "s", "b", "u", "f", "t", "h")
print('r' in tuplex)
print('s' in tuplex)

False
True

In [98]:
my_tuple = 2,4,5,6,2,4,3,4,7
print(my_tuple)
count = my_tuple.count(4)
print(count)

(2, 4, 5, 6, 2, 4, 3, 4, 7)
3

In [101]:
tuplex = ("w", "a", "e", "s", "b", "u", "f", "t", "h")
item1 = tuplex[2]
print(item1)

item2 = tuplex[-3]
print(item2)

e
f

In [105]:
names =('James', 'Kathryn', 'Bill')
names.insert(2,'Joe')
print(names)

AttributeError: 'tuple' object has no attribute 'insert'

In [106]:
try:
    print(AA)
except:
    print("Something went wrong")
finally:
    print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

In [107]:
try:
    print(VALUE)
except:
    print("Something went wrong")
else:
    print("Nothing went wrong")

Something went wrong

In [108]:
try:
    print(value)
except:
    print("An exception occurred")

An exception occurred

In [109]:
model = 450

while model != 150 and model != 250 and model != 450:
    print('The model number is valid')

In [ ]:
def main():
    value = 230
    change_value(value)

def change_value(amount):
    amount = 130
    print('Now the value is', amount)

main()

In [ ]:
def main():
    state1()
    state2()

def state1():
    houses = 1000
    print('state 1 has', houses, 'houses.')
    
def state2():
    houses = 3000
    print('state 2 has', houses, 'houses.')
    
main()

In [110]:
for number in range(2, 5):
    square = number**2
    print(number, ' ', square)

2   4
3   9
4   16

In [ ]:
def my_sale(sales):
    
    if sales >= 50000.0: 
        sales_quota_met = True
    else:
        sales_quota_met = False
      
    if sales_quota_met:
        print('You have met your sales quota!') 
        

my_sale(4000.500)

In [111]:
SCORE1 = 90
SCORE2 = 80
SCORE3 = 70
SCORE4 = 60

def score_value(score):
    if score >= SCORE1: 
        print('Your score is A.')
    elif score >= SCORE2: 
        print('Your score is B.')
    elif score >= SCORE2: 
        print('Your score is C.')
    elif score >= SCORE4: 
        print('Your score is D.')
    else:
        print('Your score is F.') 
        

score_value(85)

Your score is B.

In [112]:
def myFun(X, Y=20):
    print("x: ", X)
    print("y: ", Y)

myFun(12)

x:  12
y:  20

In [116]:
def swap(x, y):
    temp = x
    x = y
    y = temp

    
x = 2
y = 3
swap(x, y)
print(x)
print(y)

2
3

In [117]:
def main():
    formula = show_inf(8,height= 6, weight = 10)
    print(formula)
    
def show_inf(age,weight,height):
    return((age-height)*weight)

main()

20

In [118]:
def main():
    get_weight()
    print('Hello',weight)
    
def get_weight():
    weight = 134
    
main()

NameError: name 'weight' is not defined

In [119]:
a = 5 
b = 11 
c = 3
not (a > b and c > a) or b < c

True

In [120]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [129]:
myvar = "John"
my_var = "John"
_my_var = "John"#0 X
myVar = "John"
MYVAR = "John"#0 X
myvar2 = "John"
# 2myvar = "John"#0
# my-var = "John"#0
# my var = "John"#0
print(MYVAR)

John

In [130]:
fruits = ["apple", "banana", "cherry",'orange']
x, y, z = fruits
print(x)
print(y)
print(z)

ValueError: too many values to unpack (expected 3)

In [133]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [134]:
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [137]:
x = "awesome"
def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [5]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [6]:
a = "Hello, World!"
print(len(a))

13

In [7]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [8]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [9]:
b = "Hello, World!"
print(b[2:5])

llo

In [138]:
b = "Hello, World!"
print(b[:5])

Hello

In [139]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [140]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [141]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [142]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [145]:
a = " Hello, World! "
print(a.strip())

Hello, World!

In [11]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [146]:
a = "Hello, World!"
print(a.replace("o", "J"))

HellJ, WJrld!

In [147]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [152]:
age = 36
txt = "My name is John, I am " + age
print(txt)

NameError: name 'string' is not defined

In [153]:
txt = "We are the so-called "Vikings" from the north."
print(txt)

SyntaxError: invalid syntax (4013392309.py, line 1)

In [154]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [171]:
# 2 row and 3 col
import random
row = 2
col = 3
ar = [[None for i in range(col)] for r in range(row)]

cou = 0
for r in range(row):
    for c in range(col):
        ar[r][c] = r
    
print(ar)

[[0, 0, 0], [1, 1, 1]]

In [12]:

if 'b' > 'A':
  print("b is greater than A")
else:
  print("b is not greater than A")

b is greater than A

In [ ]:
def myFunction() :
  return True

print(myFunction())

In [ ]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry",'orange']
thislist.append("orange")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

In [ ]:
thislist = [0, 1,2,3,4,5]
del thislist[3]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist['cherry']
print(thislist)

In [13]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [14]:
thislist = ["apple", "banana", "cherry"]
my_list = [(x*2) for x in thislist]
print(my_list)

['appleapple', 'bananabanana', 'cherrycherry']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

In [15]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if x != "apple"]
print(newlist)

In [ ]:
newlist = [x for x in range(10)]
print(newlist)

In [ ]:
newlist = [x for x in range(10) if x < 5]
print(newlist)

In [ ]:
newlist = [x.upper() for x in fruits]
print(newlist)

In [ ]:
newlist = ['hello' for x in fruits]
print(newlist)

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

In [17]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

In [18]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1=list2

print(list1)
print(list2)

[1, 2, 3]
[1, 2, 3]

In [19]:
list1[0]= 'D'
print(list2)

['D', 2, 3]

In [20]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1[2]=list2[1]

print(list1)
print(list2)

['a', 'b', 2]
[1, 2, 3]

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1=list2
list1[2]='d'

print(list1)
print(list2)

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

In [21]:
x = ("apple", "banana", "cherry")
x[1]="kiwi"

print(x)

TypeError: 'tuple' object does not support item assignment

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

In [22]:
y = ("apple", "banana", "cherry")
y.append("orange")
print(y)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

In [ ]:
y = ("apple", "banana", "cherry")
y.remove("apple")
print(y)

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [23]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [26]:
tuple1 = ("a", "b" , "c")


tuple3 = tuple1 + ('d',)
print(tuple3)

('a', 'b', 'c', 'd')

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(len(thisset))

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

In [ ]:
If the item to remove does not exist, discard() will NOT raise an error.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection(y)

print(x)

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z= x.intersection(y)

print(z)

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference(y)

print(x)

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z= x.symmetric_difference(y)

print(z)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

In [ ]:
print(len(thisdict))

In [ ]:
x = thisdict.get("Ford")
print(x)

In [ ]:
x = thisdict.get("MODEL",'Not found')
print(x)

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("year")
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(thisdict[x])

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
  print(x)

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
myfamily["child3"]['year']

In [ ]:
a = 33
b = 200
if b > a:
print("b is greater than a")

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [ ]:
a = 200
b = 33
c = 500
if a < b or c > a:
  print("Both conditions are True")

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

In [ ]:
for x in range(2, 30, 3):
  print(x)

In [27]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
if 'bar' in {'foo': 1, 'bar': 2, 'baz': 3}:
    print(1)
    print(2)
    if 'a' in 'qux':
        print(3)
print(4)

In [ ]:
d = {'a': 0, 'b': 0, 'c': 0}
if d['a'] > 0:
    print('ok1')
elif d['b'] > 0:
    print('ok2')
elif d['c'] > 0:
    print('ok3')
elif d['d'] > 0:
    print('ok4')
else:
    print('not ok')

In [28]:
if '123 abc'.isalnum():
    y= 'a' + 'x' 
else:
    y= 'y' + 'b'
print(y)

yb

In [ ]:
d = {'foo': 100, 'bar': 200, 'baz': 300}
d['bar':'baz']

In [ ]:
x = [
    'a',
    'b',
    {
        'foo': 1,
        'bar':
        {
            'x' : 10,
            'y' : 20,
            'z' : 30
        },
        'baz': 3
    },
    'c',
    'd'
]
'z' in x[2]['bar']

In [ ]:
d = {'foo': 100, 'bar': 200, 'baz': 300}
d['bar']

In [29]:
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
x[1][2][2]

2.718

In [30]:
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
x[1][2][1:3]

['baz', 2.718]

In [31]:
a, b, c = (1, 2, 3, 4, 5, 6, 7, 8, 9)[1::3]
print(b)

5

In [ ]:
{'b', 'a', 'r'} & set('qux')

In [32]:
s = 'foo'
t = 'bar'
print('barf' in 2 * (s + t))

True

In [33]:
s = 'foobar'
s[::-5]

'rf'

In [34]:
s[0] + s[-1]

'fr'

In [35]:
s[::5]

'fr'

In [ ]:
s[::-1][::-5]

In [ ]:
s[::-1][-1] + s[len(s)-1]

In [ ]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
while d:
    print(d.popitem())
    print('ok')
print('Done.')

In [ ]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
while len(d) > 3:
    print(d.popitem())
print('Done.')

When reading a file using the file object, what method is best for reading the entire file into a single string?

In [ ]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}
sampleDict['class']['student']['marks']['physics']

In [ ]:
def f(x):
    return x + 42
print(f(3))

def f(x):
    return x + 43
print(f(3))

In [ ]:
def f(n):
    return n + 42
def f(n,m):
    return n + m + 42
print(f(3,4))

In [ ]:
squares = [x**2 for x in range(10)]
print(squares)

In [ ]:
def some_function(a):
    return (a + 5) / 2
    
my_formula = [some_function(i) for i in range(10)]
print(my_formula)

In [36]:
filtered = [i for i in range(20) if i%2==0]
print(filtered)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [37]:
mystring = "The quick brown fox"
mylist = mystring.split(' ')
print(mylist)

['The', 'quick', 'brown', 'fox']

In [ ]:
mylist = [1, 1, 2, 3, 4, 5, 5, 5, 6, 6]
print (set(mylist))

In [ ]:
print (set("aaabbbcccdddeeefff"))

In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
2myvar = "John"
my-var = "John"
my var = "John"

In [1]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [ ]:
x = 5
y = "John"
print(x + y)

In [2]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [3]:
x = "awesome"
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [5]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [6]:
a = "Hello, World!"
print(len(a))

13

In [7]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [8]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [9]:
b = "Hello, World!"
print(b[2:5])

llo

In [ ]:
b = "Hello, World!"
print(b[:5])

In [ ]:
b = "Hello, World!"
print(b[2:])

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

In [ ]:
a = "Hello, World!"
print(a.upper())

In [ ]:
a = "Hello, World!"
print(a.lower())

In [10]:
a = " Hello, World! "
print(a.strip())

Hello, World!

In [11]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [ ]:
a = "Hello, World!"
print(a.replace("o", "J"))

In [ ]:
a = "Hello, World!"
print(a.split(","))

In [ ]:
age = 36
txt = "My name is John, I am " + age
print(txt)

In [ ]:
txt = "We are the so-called "Vikings" from the north."
print(txt)

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

In [12]:

if 'b' > 'A':
  print("b is greater than A")
else:
  print("b is not greater than A")

b is greater than A

In [ ]:
def myFunction() :
  return True

print(myFunction())

In [ ]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry",'orange']
thislist.append("orange")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

In [ ]:
thislist = [0, 1,2,3,4,5]
del thislist[3]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist['cherry']
print(thislist)

In [13]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [14]:
thislist = ["apple", "banana", "cherry"]
my_list = [(x*2) for x in thislist]
print(my_list)

['appleapple', 'bananabanana', 'cherrycherry']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

In [15]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if x != "apple"]
print(newlist)

In [ ]:
newlist = [x for x in range(10)]
print(newlist)

In [ ]:
newlist = [x for x in range(10) if x < 5]
print(newlist)

In [ ]:
newlist = [x.upper() for x in fruits]
print(newlist)

In [ ]:
newlist = ['hello' for x in fruits]
print(newlist)

In [3]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'kiwieapple', 'mango', 'orange']

In [17]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

In [18]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1=list2

print(list1)
print(list2)

[1, 2, 3]
[1, 2, 3]

In [19]:
list1[0]= 'D'
print(list2)

['D', 2, 3]

In [20]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1[2]=list2[1]

print(list1)
print(list2)

['a', 'b', 2]
[1, 2, 3]

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1=list2
list1[2]='d'

print(list1)
print(list2)

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

In [21]:
x = ("apple", "banana", "cherry")
x[1]="kiwi"

print(x)

TypeError: 'tuple' object does not support item assignment

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

In [22]:
y = ("apple", "banana", "cherry")
y.append("orange")
print(y)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

In [ ]:
y = ("apple", "banana", "cherry")
y.remove("apple")
print(y)

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [23]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [26]:
tuple1 = ("a", "b" , "c")


tuple3 = tuple1 + ('d',)
print(tuple3)

('a', 'b', 'c', 'd')

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(len(thisset))

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

In [ ]:
If the item to remove does not exist, discard() will NOT raise an error.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection(y)

print(x)

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z= x.intersection(y)

print(z)

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference(y)

print(x)

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z= x.symmetric_difference(y)

print(z)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

In [ ]:
print(len(thisdict))

In [ ]:
x = thisdict.get("Ford")
print(x)

In [ ]:
x = thisdict.get("MODEL",'Not found')
print(x)

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("year")
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(thisdict[x])

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
  print(x)

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
myfamily["child3"]['year']

In [ ]:
a = 33
b = 200
if b > a:
print("b is greater than a")

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [ ]:
a = 200
b = 33
c = 500
if a < b or c > a:
  print("Both conditions are True")

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

In [ ]:
for x in range(2, 30, 3):
  print(x)

In [27]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
if 'bar' in {'foo': 1, 'bar': 2, 'baz': 3}:
    print(1)
    print(2)
    if 'a' in 'qux':
        print(3)
print(4)

In [ ]:
d = {'a': 0, 'b': 0, 'c': 0}
if d['a'] > 0:
    print('ok1')
elif d['b'] > 0:
    print('ok2')
elif d['c'] > 0:
    print('ok3')
elif d['d'] > 0:
    print('ok4')
else:
    print('not ok')

In [28]:
if '123 abc'.isalnum():
    y= 'a' + 'x' 
else:
    y= 'y' + 'b'
print(y)

yb

In [ ]:
d = {'foo': 100, 'bar': 200, 'baz': 300}
d['bar':'baz']

In [ ]:
x = [
    'a',
    'b',
    {
        'foo': 1,
        'bar':
        {
            'x' : 10,
            'y' : 20,
            'z' : 30
        },
        'baz': 3
    },
    'c',
    'd'
]
'z' in x[2]['bar']

In [ ]:
d = {'foo': 100, 'bar': 200, 'baz': 300}
d['bar']

In [29]:
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
x[1][2][2]

2.718

In [30]:
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
x[1][2][1:3]

['baz', 2.718]

In [31]:
a, b, c = (1, 2, 3, 4, 5, 6, 7, 8, 9)[1::3]
print(b)

5

In [ ]:
{'b', 'a', 'r'} & set('qux')

In [32]:
s = 'foo'
t = 'bar'
print('barf' in 2 * (s + t))

True

In [33]:
s = 'foobar'
s[::-5]

'rf'

In [34]:
s[0] + s[-1]

'fr'

In [35]:
s[::5]

'fr'

In [ ]:
s[::-1][::-5]

In [ ]:
s[::-1][-1] + s[len(s)-1]

In [ ]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
while d:
    print(d.popitem())
    print('ok')
print('Done.')

In [ ]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
while len(d) > 3:
    print(d.popitem())
print('Done.')

When reading a file using the file object, what method is best for reading the entire file into a single string?

In [ ]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}
sampleDict['class']['student']['marks']['physics']

In [ ]:
def f(x):
    return x + 42
print(f(3))

def f(x):
    return x + 43
print(f(3))

In [ ]:
def f(n):
    return n + 42
def f(n,m):
    return n + m + 42
print(f(3,4))

In [ ]:
squares = [x**2 for x in range(10)]
print(squares)

In [ ]:
def some_function(a):
    return (a + 5) / 2
    
my_formula = [some_function(i) for i in range(10)]
print(my_formula)

In [36]:
filtered = [i for i in range(20) if i%2==0]
print(filtered)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [37]:
mystring = "The quick brown fox"
mylist = mystring.split(' ')
print(mylist)

['The', 'quick', 'brown', 'fox']

In [ ]:
mylist = [1, 1, 2, 3, 4, 5, 5, 5, 6, 6]
print (set(mylist))

In [ ]:
print (set("aaabbbcccdddeeefff"))