   
    Neshat Beheshti
    University of Texas Arlington

    This document can only be used for class studies. 
    You are not allowed to share it in any public platform.

        The Material for this Notebook is Adopted from 
        Starting Out with Python (4th Edition)- by Tony Gaddis Pearson

In [15]:
list = [1,2,3,4,5,6,7]
print(list[:-4])

s = 'foo'
t = 'bar'
print('barf' in 2*(s+t))

[1, 2, 3]
True

# Learn 
1. zip
2. accumlator
3. how to avoid adding \n at last position while writing
4. enumerate

#Points 
<h3> List </h3>
1. del focus on index
2. when we use = to copy each operations affect all the lists..Instead use copy()
    
    list = [1,2,3]
    list1 = list
    list1[1] = 10
    print(list,list1)
    </br>//output : [1, 10, 3] [1, 10, 3]
    
   <h3> Tuple</h3>

<h1 align='center' style="color: blue;">Lists and Tuples</h1>

<b>Sequence:</b> an object that contains multiple items of data
<ul><li>The items are stored in sequence one after another.</li></ul>
Python provides different types of sequences, including <b>lists and tuples</b>.
<ul><li>The difference between these is that a list is mutable and a tuple is immutable.</li></ul>

## 1.1. Introduction to Lists

<b>List:</b> an object that contains multiple data items.
<ul>
    <li>Lists are mutable: that their contents can be changed during a program’s execution.</li>
    <li>Lists are dynamic data structures: items may be added to them or removed from them. </li>
    <li>Each item that is stored in a list is called an <b>element</b>.</li>
    <ul>
        <li>Format: <i>list = [item1, item2, etc.]</i></li>
    </ul></ul>

<b>Example:</b>

In [1]:
# The items that are enclosed in brackets and separated by commas are the list elements.
odd_numbers = [1,3,5,7,9]

In [2]:
names = ['Molly', 'Steven', 'Will', 'Alicia', 'Adriana',1]

<li><b>Note:</b> A list can hold items of different types.</li>

<b>Example:</b>

In [5]:
content = ["Alex", 32, 234.56]

<b>Note:</b> print function can be used to display an entire list.

In [6]:
odd_numbers = [1,3,5,7,9]
print(odd_numbers)

[1, 3, 5, 7, 9]

<b>Note:</b> list() function can convert certain types of objects to lists

<b>Example:</b>

In [ ]:
numbers = list(range(6))
print(numbers)

<b>Example:</b>

In [ ]:
numbers = list(range(10,5,-2))
print(numbers)

## 1.2. The Repetition Operator

Repetition operator: makes multiple copies of a list and joins them together.
<ul><li>The * symbol is a repetition operator when applied to a sequence and an integer.</li>
    <ul><li>Sequence is left operand, number is right.</li></ul>
    <li>General format: <i>list * n</i></li></ul>

<b>Example:</b>

In [1]:
numbers = [1] * 4
print(numbers)

[1, 1, 1, 1]

In [2]:
numbers = [2,4,6,8]*3
print(numbers)

[2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8]

You can iterate over a list using a for loop.
    <ul><li>Format: <i>for x in list:</i>

<b>Example:</b>

In [ ]:
numbers = [10,20,30,40]
for i in numbers:
    print(i)

## 1.3. Indexing

<b>Index :</b> a number specifying the position of an element in a list.
<ul><li>Enables access to individual element in list.</li>
    <li>Index of first element in the list is 0, second element is 1, and n’th element is n-1.</li>
    <ul>

<b>Example:</b>

In [5]:
my_numbers = [10,20,30,40]
print(my_numbers[0],my_numbers[1],my_numbers[2],my_numbers[3])

10 20 30 40

In [6]:
index = 0
while index < 5:
    print(my_numbers[index])
    index += 1

10
20
30
40

IndexError: list index out of range

<b>Note: </b> An <b>IndexError</b> exception is raised if an  invalid index is used.

In [7]:
index = 0
while index < 5:
    print(my_numbers[index])
    index += 1

10
20
30
40

IndexError: list index out of range

Negative indexes identify positions relative to the end of the list.
    <ul><li>The index -1 identifies the last element.</li>
        <li>The index -2 identifies the next to last element, etc.</li></ul>

In [8]:
my_numbers = [10,20,30,40]
print(my_numbers[-1],my_numbers[-2],my_numbers[-3],my_numbers[-4])

40 30 20 10

## 1.4. The <i>len</i> function

<b><i>len</i> function:</b> returns the length of a sequence such as a list.
<ul>
    <li>Example: <i>size = len(my_list)</i></li>
    <li>Returns the number of elements in the list, so the index of last element is <i>len(list)-1</i></li>
</ul>

<b>Example:</b>

In [ ]:
my_list = [50,60,70,80]
size = len(my_list)
print(size)

In [ ]:
index(last_element )= len(element)-1

<b>Note:</b> <i>len</i> function can be used to prevent an <b>IndexError</b> exception when iterating over a list with a loop

In [ ]:
my_list = [50,60,70,80] 
index = 0
while index < 5:
    print(my_list[index]) 
    index += 1

In [ ]:
my_list = [50,60,70,80] 
index = 0
while index < len(my_list):
    print(my_list[index]) 
    index += 1

In [ ]:
my_list2 = [100,200,500,540,650]
index = 0
while index < 6:
    print(my_list2[index])
    index += 1

In [ ]:
my_list2 = [100,200,500,540,650]
index = 0
while index < len(my_list2):
    print(my_list2[index])
    index += 1

## 1.5. Lists Are Mutable

Mutable sequence: the items in the sequence can be changed.
<ul><li>Lists are mutable, and so their elements can be changed.</li></ul>
An expression such as: 
	<ul><li><i>list[1] = new_value</i> can be used to assign a new value to a list element.</li>
</ul>

<b>Example:</b>

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)
numbers[0] = 66
print(numbers)

In [ ]:
numbers[3] = 100
print(numbers)

In [ ]:
numbers[5] = 25
print(numbers)

<b>Note:</b> Must use a valid index to prevent raising of an <b>IndexError</b> exception.

<b>Example:</b>

In [9]:
numbers = [1, 2, 3, 4, 5]
numbers[5] = 66
print(numbers)

IndexError: list assignment index out of range

<b>Example:</b> Now its your turn, create a list with 5 elements and fill the list with the value 99.

In [15]:
elements = [1,2,3,4,5]
for i in range(len(elements)):
    elements[i]=99
print(elements)

[99, 99, 99, 99, 99]

In [17]:
elements = [1,2,3,4,5]
i=0
while i < len(elements):
    elements[i] = 99
    i+=1
print(elements)

[99, 99, 99, 99, 99]

## 1.6. Concatenating Lists

<ul><li>Concatenate: join two things together.</li> 
    <li>The <b> + </b> operator can be used to concatenate two lists.</li>
    <ul><li>Cannot concatenate a list with another data type, such as a number.</li></ul>
    </ul>

<b>Example:</b>

In [18]:
list1 = [1, 2, 3, 4] 
list2 = [5, 6, 7, 8] 
list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
girl_names = ['Joanne', 'Karen', 'Lori'] 
boy_names = ['Chris', 'Jerry', 'Will'] 
all_names = girl_names + boy_names
print(all_names)

['Joanne', 'Karen', 'Lori', 'Chris', 'Jerry', 'Will']

In [20]:
list1 = [1, 2, 3, 4]
girl_names = ['Joanne', 'Karen', 'Lori'] 

my_name = list1 + girl_names
print(my_name)

[1, 2, 3, 4, 'Joanne', 'Karen', 'Lori']

In [33]:
list1 = [1,4,5]
list2 = [1,4,5] + 3
print(list2)

[4 6 5]

<b>Note:</b> The <b>+=</b> augmented assignment operator can also be used to concatenate lists.

<b>Example:</b>

In [ ]:
list1 = [1, 2, 3, 4] 
list2 = [5, 6, 7, 8] 
list1 += list2    #list1 = list1+list2    

print(list1)
print(list2)

<b>Example:</b>

In [ ]:
girl_names = ['Joanne', 'Karen', 'Lori']
girl_names += ['Jenny', 'Kelly'] # girl_name = girl_names +  ['Jenny', 'Kelly']
print(girl_names)

## 2.1. List Slicing

Slice: a span of items that are taken from a sequence
<ul><li>List slicing format:  <i>list_name[start : end]</i></li>
    <li>Span is a list containing copies of elements from <b>start</b> up to, but not including, <b>end</b></li>
    <ul><li>If <i>start</i> not specified, 0 is used for start index.</li>
        <li>If <i>end</i> not specified, <i>len(list)</i> is used for end index.</li></ul>
    <li>Slicing expressions can include a step value and negative indexes relative to end of list.</li>

<b>Example:</b>

In [34]:
days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [35]:
mid_days = days[2:5]
print(mid_days)

['Tuesday', 'Wednesday', 'Thursday']

<b>Example:</b>

In [36]:
numbers = [1, 2, 3, 4, 5]
print(numbers[1:3])

[2, 3]

In [37]:
print(numbers[:3])

[1, 2, 3]

In [38]:
print(numbers[2:])

[3, 4, 5]

In [39]:
print(numbers[:])

[1, 2, 3, 4, 5]

In [40]:
print(numbers[0:5])

[1, 2, 3, 4, 5]

In [41]:
print(numbers[0:len(numbers)])

[1, 2, 3, 4, 5]

<b>Example:</b>

In [42]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
print(numbers[1:8])
print(numbers[1:8:2])

[2, 3, 4, 5, 6, 7, 8]
[2, 4, 6, 8]

In [53]:
print(numbers[-5:])

[6, 7, 8, 9, 10]

## 3.1 Finding Items in Lists with the in Operator

You can use the in operator to determine whether an item is contained in a list
<ul><li>General format: <i>item in list</i></li>
    <li>Returns <i>True</i> if the item is in the list, or <i>False</i> if it is not in the list</li></ul>
Similarly you can use the <i>not</i> in operator to determine whether an item is not in a list

In [ ]:
def main():
    # Create a list of product numbers. 
    prod_nums = ['V475', 'F987', 'Q143', 'R688']
    # Get a product number to search for. 
    search = input('Enter a product number: ')
    # Determine whether the product number is in the list. 
    if search in prod_nums:
        print(search, 'was found in the list.') 
    else:
        print(search, 'was not found in the list.')
# Call the main function. 
main()

<b>Example:</b> Now it's your turn, consider the list of names ['Sara','Ali','Joe','Kally']. Ask the user to enter a name. Determine whether the name is in the list.

In [55]:
names = ['Sara','Ali','Joe','Kally']
user = input("Enter a name: ")
if user in names:
    print(user, "found in list names")
else:
    print(user,"Not found")

Enter a name: Sara
Sara found in list names

## 4.1 List Methods and Useful Built-in Functions

<ul><li><b>append(item):</b> used to add items to a list – item is appended to the end of the existing list.</li>
    </ul>

In [ ]:
def main():
    # First, create an empty list. 
    name_list = []
    # Create a variable to control the loop. 
    again = 'y'
    # Add some names to the list. 
    while again == 'y':
    # Get a name from the user. 
        name = input('Enter a name: ')
    # Append the name to the list. 
        name_list.append(name)

    # Add another one?
        print('Do you want to add another name?') 
        again = input('y = yes, anything else = no: ') 
        print()
        
    # Display the names that were entered.
    print('Here are the names you entered.')
    
    print(name_list)
    
    for name in name_list: 
        print(name)
        
# Call the main function. 
main()

<b>Example:</b>Get a list with values stored in it,then display the values in the list

In [ ]:
def main():
    
    num =[]
    
    keep_going = 'y'
    
    while keep_going =='y':
        item = int(input('Enter a number: '))
        
        num.append(item)
        
        keep_going= input('Do you want to continue: (y/n) ')
        
    print(num)
    
    for number in num:
        print(number)
main()

<b>Example:</b>

Now its your turn. Design a program that generates a seven-digit lottery number. The program should generate seven random numbers, each in the range of 0 through 9, and assign each number to a list element. Then write another loop that displays the contents of the list.

In [76]:
import random
digit=[]
for i in range(0,7):
    num = random.randint(0,9)
    digit.append(num)
print(digit)

for i in digit:
    print(i)

[7, 0, 8, 1, 8, 1, 0]
7
0
8
1
8
1
0

<b>index(item):</b> used to determine where an item is located in a list.
    <ul><li>Returns the index of the first element in the list containing item.</li>
        <li>Raises ValueError exception if item not in the list.</li>
    </ul>

In [71]:
def main():
    
    # Create a list with some items. 
    food = ['Pizza', 'Burgers', 'Chips','Burgers']

    item = input('Which item should I change? ')
    
    try:
    # Get the item's index in the list. 
        item_index = food.index(item)
    # Get the value to replace it with. 
        new_item = input('Enter the new value: ')
    # Replace the old item with the new item. 
#         food[item_index] = new_item
        food.insert(item_index,new_item)
    # Display the list.
        print('Here is the revised list:') 
        print(food)
    
    except ValueError:
        print('That item was not found in the list.')

main()

Which item should I change? Burgers
Enter the new value: Rice
Here is the revised list:
['Pizza', 'Rice', 'Burgers', 'Chips', 'Burgers']

<b>insert(index, item):</b> used to insert item at position index in the list.

<b>Example:</b>

In [72]:
def main():

# Create a list with some names. 
    names = ['James', 'Kathryn', 'Bill']
# Display the list.
    print('The list before the insert:') 
    print(names)
# Insert a new name at element 2. 
    names.insert(2, 'Joe')
# Display the list again. 
    print('The list after the insert:') 
    print(names)

main()

The list before the insert:
['James', 'Kathryn', 'Bill']
The list after the insert:
['James', 'Kathryn', 'Joe', 'Bill']

<b>sort() :</b> used to sort the elements of the list in ascending order

<b>Example:</b>

In [73]:
my_list = [9, 1, 0, 2, 8, 6, 7, 4, 5, 3] 
print('Original order:', my_list) 
my_list.sort()
print('Sorted order:', my_list)

Original order: [9, 1, 0, 2, 8, 6, 7, 4, 5, 3]
Sorted order: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

<b>Example:</b>

In [75]:
my_list = ['beta', 'alpha', 'delta', 'gamma'] 
print('Original order:', my_list) 
my_list.sort()
print('Sorted order:', my_list)

Original order: ['beta', 'alpha', 'delta', 'alpine']
Sorted order: ['alpha', 'alpine', 'beta', 'delta']

<b>remove(item)</b>: removes the first occurrence of item in the list

<b>Example:</b>

In [8]:
def main():
    # Create a list with some items. 
    food = ['Pizza', 'Burgers', 'Chips','Burgers']
    # Display the list.
    print('Here are the items in the food list:') 
    print(food)
    # Get the item to change.
    item = input('Which item should I remove? ')
    
    try:
        # Remove the item. 
        food.remove(item)
        # Display the list.
        print('Here is the revised list:') 
        print(food)
        
    except ValueError:
        print('That item was not found in the list.')
main()

Here are the items in the food list:
['Pizza', 'Burgers', 'Chips', 'Burgers']
Which item should I remove? burger
That item was not found in the list.

<b>reverse():</b> reverses the order of the elements in the list

<b>Example:</b>

In [ ]:
my_list = [1, 2, 3, 4, 5] 
print('Original order:', my_list) 
my_list.reverse() 
print('Reversed:', my_list)

<img src='https://www.dropbox.com/s/xl1crucesrl47bo/A%20few%20of%20the%20list%20methods.png?raw=1'/>

<i>Source: Starting Out with Python (4th Edition)- by Tony Gaddis Pearson</i>

### 4.1.1 The <i>del</i> Statement

<i>del</i> statement removes an element from a specific index in a list.
<ul><li>General format: <i>del list[i]</i></li></ul>

<b>Example:</b>

In [ ]:
my_list = [1, 2, 3, 4, 5] 
print('Before deletion:', my_list) 
del my_list[2]
print('After deletion:', my_list)

<b>Example:</b> Consider list ['Sara','Ali','Joe','Kally']. Remove the first element.

In [ ]:
Names = ['Sara','Ali','Joe','Kally']

del Names[0]
print(Names)

### 4.1.2 The min and max Functions

min and max functions are built-in functions that returns the item that has the lowest or highest value in a sequence.
<ul><li>The sequence is passed as an argument.</li></ul>

<b>Example:</b>

In [ ]:
my_list = [5, 4, 3, 2, 50, 40, 30] 
print('The lowest value is', min(my_list))

<b>Example:</b>

In [ ]:
my_list = [5, 4, 3, 2, 50, 40, 30] 
print('The highest value is', max(my_list))

## 5.1 Copying Lists

To make a copy of a list you must copy each element of the list.
<ul><li>Two methods to do this:</li>
    <ul><li>Creating a new empty list and using a <i>for</i> loop to add a copy of each element from the original list to the new list.</li>
        <li>Creating a new empty list and concatenating the old list to the new empty list.</li></ul></ul>

<b>Example:</b>

In [ ]:
# Create a list.
list1 = [1, 2, 3, 4]
# Assign the list to the list2 variable. 
list2 = list1

print(list1)
print(list2)

In [ ]:
list1[0]=99
print(list1)

In [ ]:
print(list2)

<b>Example:</b>

In [ ]:
# Create a list with values. 
list1 = [1, 2, 3, 4]
#Create an empty list. 
list2 = []
# Copy the elements of list1 to list2. 
for item in list1:
    list2.append(item)

print(list2)

In [ ]:
list1[0]=99
print(list1)

In [ ]:
print(list2)

In [ ]:
# Create a list with values. 
list1 = [1, 2, 3, 4]
# Create a copy of list1. 
list2 = [] + list1

print(list2)

In [ ]:
list1[0]=99
print(list1)

In [ ]:
print(list2)

In [ ]:
list1 = [1, 2, 3, 4]
list2 = list1.copy()
print(list2)

In [ ]:
list1[0]=99
print(list1)

In [ ]:
print(list2)

## 6.1. Processing Lists

<ul>
<li>List elements can be used in calculations.</li>
<li>To calculate total of numeric values in a list use loop with accumulator variable.</li>
    <li>To average numeric values in a list:</li>
    <ul><li>Calculate total of the values.</li>
        <li>Divide total of the values by <i>len(list)</i>.</li></ul>
    <li>List can be passed as an argument to a function.</li>
</ul>

<b>Example:</b> Calculate the total of the list elements.

In [ ]:
list1= [23,45,56,78]
total =0

for num in list1:
    total +=num
    
print(total)

<b>Example:</b> Now it's your turn, calculate the average of the list numbers = [2, 4, 6, 8, 10]

In [9]:
list2 = [2,4,6,8,10]
sum = 0
for i in list2:
    sum+=i
print(sum/len(list2))

6.0

<ul>
<li>A function can return a reference to a list.</li>
    <li>To save the contents of a list to a file:</li>
<ul>
    <li>Use the file object’s <i>writelines</i> method.</li>
    <ul><li>Does not automatically write <i>\n</i> at then end of each item.</li></ul>
    <li>Use a for loop to write each element and <i>\n</i>.</li>
    <li>To read data from a file use the file object’s readlines method.</li>
    </ul>
    </ul>

<b>Example:</b>

In [ ]:
def main():
    cities = ['New York', 'Boston', 'Atlanta', 'Dallas']
    
    outfile = open('cities.txt', 'w')
    outfile.writelines(cities)
    outfile.close()
    
main()

In [16]:
def main():
    cities = ['New York', 'Boston', 'Atlanta', 'Dallas']
    outfile = open('cities.txt', 'w')
    
    for item in cities:
        outfile.write(item+'\n')
        
    outfile.close()
    
main()

<b>Example:</b> Now it's you turn. Write a function to save the content of list val=['Sara','John','Alex','Jessica','Shally'] in name.txt

In [11]:
def main():
    val=['Sara','John','Alex','Jessica','Shally']
    file = open("name.txt",'w')
    for i in val:
        file.write(i+'\n')
    file.close()
    
    
main()

In [17]:
def main():
    infile = open('cities.txt', 'r')
    # Read the contents of the file into a list. 
    cities = infile.readlines()
    infile.close()
# Strip the \n from each element. 
    index = 0
    while index < len(cities):
        cities[index] = cities[index].rstrip('\n') 
        index += 1
    print(cities)

main()

['New York', 'Boston', 'Atlanta', 'Dallas']

<b>Example:</b> Now it's you turn, read the contents of name.txt into a list and remove the blank lines.

In [26]:
def main():
    nameFile = open('name.txt','r')
    name = nameFile.read().split('\n')
    print(name[:-1])
    nameFile.close()
    
main()

['Sara', 'John', 'Alex', 'Jessica', 'Shally']

In [ ]:
def main():
    numbers = [1, 2, 3, 4, 5, 6, 7]
# Open a file for writing.
    outfile = open('numberlist.txt', 'w')
# Write the list to the file. 
    for item in numbers:
        outfile.writelines(str(item) + '\n')
        
    outfile.close()

main()

<b>Example:</b> Now it's you turn, save the content of list num=[23,45,87,12,39] in values.txt.

In [ ]:
def main():
# Open a file for reading.
    infile = open('numberlist.txt', 'r')
# Read the contents of the file into a list. 
    numbers = infile.readlines()

    infile.close()
# Convert each element to an int. 
    index = 0
    
    while index < len(numbers):
        numbers[index] = int(numbers[index]) 
        index += 1
    print(numbers)
main()

<b>Example:</b> Now it's you turn, read the content of the file value.txt into a list

## 7.1. Two-Dimensional Lists

<ul>
<li>Two-dimensional list: a list that contains other lists as its elements.</li>
<ul><li>Also known as nested list.</li>
<li>Common to think of two-dimensional lists as having rows and columns.</li>
<li>Useful for working with multiple sets of data.</li></ul>
<li>To process data in a two-dimensional list need to use two indexes.</li>
<li>Typically use nested loops to process.</li>
    </ul>

Itmes from tuples cannot be removed after created.

In [27]:
students = [['Joe', 'Kim'], ['Sam', 'Sue'], ['Kelly', 'Chris']] 
print(students)

[['Joe', 'Kim'], ['Sam', 'Sue'], ['Kelly', 'Chris']]

In [28]:
print(students[2])

['Kelly', 'Chris']

In [29]:
print(students[0])

print(students[1])

print(students[2])

['Joe', 'Kim']
['Sam', 'Sue']
['Kelly', 'Chris']

In [30]:
print(students[0][0])

Joe

In [31]:
print(students[0][1])

Kim

In [32]:
print(students[2][1])

Chris

<img src='images/week8/A two-dimensional list.png'>

<i>Source: Starting Out with Python (4th Edition)- by Tony Gaddis Pearson</i>

In [46]:
import random

ROWS = 3
COLS = 4

def main():
    values = [[0, 0, 0, 0],
              [0, 0, 0, 0],
              [0, 0, 0, 0]]
    for r in range(ROWS):
        for c in range(COLS):
            values[r][c] = random.randint(1, 100)
        
    print(values)

main()

[[80, 67, 98, 68], [90, 2, 72, 25], [78, 59, 69, 55]]

<b>Example:</b> Now its your turn. Make a list with two rows and three columns, and give each element a random number between 10 and 34.

In [59]:
#alternate 
import random
rows = 2
col = 3

def main():
    val = [[None]*col]*rows
    for r in range(rows):
        for c in range(col):
            val[r][c] = random.randint(1,100)
    print(val)
main()

[[14, 39, 100], [14, 39, 100]]

Write a Python program to multiplies all the items in a list.

In [62]:
mulList = [2,4,7,8]
def main():
    prod = 1
    for i in mulList:
        prod *= i
    print(prod)
main()

448

In a program, write a function named roll that accepts an integer argument number_ of_throws. The function should generate and return a sorted list of number_of_throws random numbers between 1 and 6. The program should prompt the user to enter a positive integer that is sent to the function, and then print the returned list.

In [8]:
import random as ran 
num = int(input("Enter a number: "))
while num <= 0:
    num = int(input("Enter a number: "))
def roll(number_of_throws):
    throwsList = []
    for i in range(0, number_of_throws):
        throwsList.append(ran.randint(1,6))
    throwsList.sort()
    print(throwsList)

roll(num)

[2, 3, 4, 4, 6]

In [34]:
numList = ['wiltten','Blinker','cool']
itemLength = [len(item) for item in numList]
itemCondition = [len(item) for item in numList if len(item) < 5]
print(itemLength)
print(itemCondition)

[7, 7, 4]
[4]

In [32]:
import random as ran
choose = ran.choice(numList)
chooseMulti = ran.choices(numList)
print(choose," Single choice")
print(chooseMulti, "Choice")

wiltten  Single choice
['wiltten'] Choice

In [33]:
list1 = [1,12,13,14]
lessItem = [item for item in list1 if item < 10]
print(lessItem)

[1]

## 8.1. Tuples

<ul>
<li>Tuple: an immutable sequence.</li>
<ul>
<li>Very similar to a list.</li>
<li>Once it is created it cannot be changed.</li>
    <li>Format: <i>tuple_name = (item1, item2)</i></li>
    <li>Tuples support operations as lists.</li>
<ul>
    <li>Subscript indexing for retrieving elements.</li>
    <li>Methods such as <i>index</i>.</li>
    <li>Built in functions such as <i>len, min, max</i></li>
    <li>Slicing expressions</li>
    <li>The <i>in, +, </i>and <i>*</i> operators</li>

In [13]:
my_tuple = (1, 2, 3, 4, 3)
print(my_tuple)
my_tuple.rem

(1, 2, 3, 4, 3)

In [16]:
my_tuple = 1,2,3,4
print(my_tuple)

(1, 2, 3, 4)

In [1]:
names = ('Holly', 'Warren', 'Ashley')
for n in names:
    print(n)

Holly
Warren
Ashley

In [4]:
names = ('Holly', 'Warren', 'Ashley')
for i in range(len(names)):
    print(names[i])

Holly
Warren
Ashley

Tuples do not support the methods:
<ul><li>append</li>
<li>remove</li>
<li>insert</li>
<li>reverse</li>
<li>sort</li>
</ul>

In [7]:
tuple1=('John','Mark')
tuple2=('Sara','Suzan')
my_list = []
my_list.append(tuple1)
print(my_list)
my_list.append(tuple2)
print(my_list)

[('John', 'Mark')]
[('John', 'Mark'), ('Sara', 'Suzan')]

In [9]:
my_list.remove(('John','Mark'))
print(my_list)

[('Sara', 'Suzan')]

In [12]:
print(my_list," Before")
my_list.reverse()
print(my_list," After")

[('Sara', 'Suzan')]  Before
[('Sara', 'Suzan')]  After

<ul><li>Advantages for using tuples over lists:</li>
<ul>
    <li>Processing tuples is faster than processing lists.</li>
    <li>Tuples are safe.</li>  <p>What is safe mean?</p>
    <li>Some operations in Python require use of tuples.</li></ul>
    <li><b>list() function</b>: converts tuple to list.</li>
    <li><b>tuple() function</b>: converts list to tuple.</li>

In [17]:
number_tuple = (1, 2, 3)
number_list = list(number_tuple) 
print(number_list) 

str_list = ['one', 'two', 'three'] 
str_tuple = tuple(str_list) 
print(str_tuple)

[1, 2, 3]
('one', 'two', 'three')

In [18]:
my_tuple = (6,)
print(my_tuple)

(6,)

In [21]:
my_tuple = 6,
print(my_tuple)

(6,)

In [22]:
my_tuple = 91,2,3,4
print(my_tuple)

(91, 2, 3, 4)

In [23]:
my_tuple[0]

91

In [24]:
my_tuple[0] = 100

TypeError: 'tuple' object does not support item assignment