    Neshat Beheshti
    University of Texas Arlington

    This document can only be used for class studies. 
    You are not allowed to share it in any public platform.

        The Material for this Notebook is Adopted from 
        Starting Out with Python (5th Edition)- by Tony Gaddis Pearson

<h1 align='center' style="color: blue;">Database Programming</h1>

## Database Management Systems

If an application needs to store only small amount of data, traditional files work well.These types of files are not practical, when a large amount of data must be stored and manipulated.
<ul>
    <li> Simple operations such as searching, inserting, and deleting become inefficient.</li>

A database management system (DBMS) is software that is designed to store, retrieve an manipulate large amounts of data.

Using DBMS, the Python programmer doesn't have to be concerned with the way the data is stored on disk, and the algorithms that used to store and retrieve the data.
<ul><li>The programmer needs to know only how to interact with the DBMS.</li></ul>

#### SQL

A standard language for working with the DBMS.

When a Python application interacts with a DBMS, the Python application must construct SQL statements as strings, and then use a library method to pass those strings to the DBMS.

We use SQLite because it is easy to use, and it is automatically installed on your system.
<ul><li>You must import the <b><i>sqlite3</i></b> module</li></ul>

## Tables, Rows, and Columns

The data that is stored in a database is organized into one or more tables:
<ul>
    <li>Each table holds a collection of related data.
        <ul><li>The data that is stored in a table is organized into rows and columns.</li>
            <ul><li>A row is a complete set of data about a single item. The data that is stored in a row is divided into columns.</li>
                <ul><li> Each column holds an individual piece of data about the item.</li></ul></ul></ul>

### Column Data Types:

<ul>
    <li>NULL: Can be used when the value is unknown or missing. When Python reads a NULL column value into memory, the value is converted to the value None.</li>
    <li>INTEGER: Holds an integer value. When Python reads an INTEGER column value into memory, the value is converted to an int value.</li>
    <li>REAL: Holds a real number. When Python reads a REAl column value into memory, the value is converted to a float value.</li>
    <li>TEXT: Holds a string. When Python reads a TEXT column value into memory, the value is converted to an str value.</li>
    <li>BLOB: Holds an object of any type. For example, it can hold an array or an image. When Python reads a BLOB column value into memory, the value is converted to a bytes object, which is an immutable sequence of bytes.</li>
</ul>

### Primary Keys

Database tables usually have a primary key, which is a column that can be used to identify a specific row.<br>
The column that is designated as the primary key must hold a unique value for each row.

<b>Example1:</b>

A table stores employee data, and one of the columns hold employee ID numbers. Employees' ID numbers are unique, so this column can be used as the primary key.

<b>Example2:</b>

A table stores product data, and one of the columns holds the product's serial number. products' serial numbers are unique, so this column can be used as the primary key.

<b>Example3:</b>

A table stores invoice data, and one of the columns hold invoice numbers. Each invoice has a unique invoice number, so this column can be used as a primary key.

### Identity Columns

Sometimes, the data that you want to store in a table does not contain any unique items that can be used as a primary key.
<ul><li>It is neccessary to create an identity column to serve as the primary key.</li></ul>

An Identity column is a column that contains unique values that are generated by the DBMS.
<ul><li>typically contains integers that are autoincremented. Each time a new row is added to the table, the DBMS automatically assigns the identity column an integer that is 1 greater than the largest value currently stored in the indentity column. </li></ul>

### Allowing Null Values

If a column contains no data,it is said to be null.
<ul><li>Sometimes it is okey for a column to be left empty.</li>
<ul><li>columns such as primary keys must contains a value.</li></ul>
<li>When you are designing a table, you can apply a constraint, or rule that prevents a column from being null.</li>
</ul>

## Openning and Closing a Database Connection with SQLite

Process of using a SQLite with pseudocode:
<ul><i>
    Connect to the database<br>
    Get a cursor for the database<br>
    Perform operations on the database<br>
    Commit changes to the database<br>
    Close the connection to the database
    </i></ul>

<ul><li><b>Connect to the database:</b> Established a connection between the program and a specific database file.(if the database file doesn't exist, it will be created)</li>
    <li><b>Get a cursor for the database:</b> A cursor is an object that is able to access and manipulate the data in a database.</li>
    <li><b>Perform operations on the database:</b> Once you have a cursor, you can access and modify the data in the database. You can use the cursor to retrieve data, insert new data, update existing data, and delete data.</li>
    <li><b>Commit changes to the database:</b> After performing any operations that modify the contents of a table, be sure to commit those changes to the database.</li>
    <li><b>Close the connection to the database:</b> When you are finished using the database, you should close the connection.</li>
</ul>

<b>Example:</b>

In [1]:
import sqlite3
conn = sqlite3.connect('Database/contacts.db')
cur = conn.cursor()
conn.commit()
conn.close()

### Passing SQL Statements to the DBMS

With SQLite, we use the Cursor object's execute methods to pass an SQL statement to the DBMS. <br>
The general format:<br>
<i>cur.execute(SQLstring)</i>

## Creating and Deleting Tables

### Creating a Table

To add a table, we use the SQL statement CREATE TABLE

CREATE TABLE <i>TableName (Column1 DataType1, Column2 DataType2, etc...)</i>

<b>Example:</b>

CREATE TABLE Inventory (ItemName TEXT, Price REAL)

<b>Example:</b>

CREATE TABLE <i>TableName (ColumnName1 DataType1 PRIMARY KEY, ColumnName2 DataType2, etc....)</i>

CREATE TABLE <i>TableName (ColumnName1 DataType1 PRIMARY KEY NOT NULL, ColumnName2 DataType2, etc....)</i>

<b>Example:</b>

CREATE TABLE Inventory (ItemID INTEGER PRIMARY KEY NOT NULL, ItemName TEXT, Price REAL)

<b>Note:</b> SQL statements are free form, which means that tabs, newlines, and spaces between the keywords are ignored.

In [ ]:
CREATE TABLE Inventory (ItemName TEXT , Price REAL)

In [ ]:
CREATE TABLE Inventory (
                            ItemName TEXT , 
                            Price REAL
                        )

<b>Note:</b> SQL keywords and table names are case insensitive. The previous statement could be written as:

In [ ]:
create table inventory (ItemName text, Price real)

To execute our SQL statement in Python, we must pass the statement as a string to the Cursor object's execute method.
<ul><li>Tech#1: Assign the string to a variable, and then pass the variable to the execute method.</li>
    <li> Tech#2: Simply pass the SQL statement as a string literal to the execute method.</li></ul>

<b>Example:</b>

In [ ]:
sql = '''CREATE TABLE Inventory(ItemID INTEGER PRIMARY KEY NOT NULL, 
                                                ItemName TEXT, 
                                                price REAL)'''
cur.execute(sql)

<b>Example:</b>

In [ ]:
cur.execute('''CREATE TABLE Inventory(ItemID INTEGER PRIMARY KEY NOT NULL, 
                                                ItemName TEXT, 
                                                price REAL)''')

<b>Example:</b>

Write a program to create Inventory table on DBMS.

In [ ]:
import sqlite3

def main():
    conn = sqlite3.connect('inventory.db')
    cur = conn.cursor()
   
    cur.execute('''CREATE TABLE Inventory(ItemID INTEGER PRIMARY KEY NOT NULL, 
                                                ItemName TEXT, 
                                                price REAL)''')
    conn.commit()
    conn.close()
main()

### Creating Multiple Tables

It's common for database to contain multiple tables.

<b>Example:</b>

In [ ]:
import sqlite3

def main():
    conn = sqlite3.connect('company.db')
    cur = conn.cursor()
    cur.execute('''CREATE TABLE Customers (CustomerID INTEGER PRIMARY KEY NOT NULL,
                                            Name TEXT,
                                            Email TEXT)''')
    
    cur.execute('''CREATE TABLE Employee (EmployeeID INTEGER PRIMARY KEY NOT NULL,
                                            Name TEXT,
                                            Position TEXT)''')
    conn.commit()
    conn.close()
    
main()

<b>Note:</b> An error will occur if you try to create a table that already exists.
    <ul><li>To prevent the error, you can use the following format of the CREATE TABLE statement:</li></ul>
    CREATE TABLE IF NOT EXISTS TableName (ColumnName1 DataType1, ColumnName2 DataType2, etc...)

<b>Example:</b>

In [ ]:
import sqlite3

def main():
    conn = sqlite3.connect('inventory.db')
    cur = conn.cursor()
   
    cur.execute('''CREATE TABLE IF NOT EXISTS Inventory(ItemID INTEGER PRIMARY KEY NOT NULL, 
                                                ItemName TEXT, 
                                                price REAL)''')
    conn.commit()
    conn.close()
main()

### Deleting a Table

If you need to delete a table, you can use the SQL statement DROP TABLE.<br>
The general format:
    DROP TABLE TableName

<b>Example:</b>

In [ ]:
cur.execute('DROP TABLE Temp')

In [ ]:
import sqlite3

def main():
    conn = sqlite3.connect('inventory.db')
    cur = conn.cursor()
   
    cur.execute('''DROP TABLE if exists Inventory''')
    conn.commit()
    conn.close()
main()

An error will occur if you try to drop a table that doesn't exist.
<ul><li>To prevent the error, you can use the fromat of the DROP TABLE statement:</li>
    <li>DROP TABLE IF EXISTS TableName</li></ul>
    <li>cur.execute('DROP TABLE IF EXISTS Temp')</li>

## Adding Data to a Table

In SQL, the INSERT statement is used to insert a row into a database table.<br>
The general format:<br>
    INSERT INTO TableName (ColumnName1, ColumnName2, etc...)<br>
    VALUES (Value1, Value2, etc...)

<b>Example:</b>

In [ ]:
cur.execute('''INSERT INTO Inventory (ItemID, ItemName, Price)
               VALUES (1, "Screwdriver", 4.99)''')

In [ ]:
import sqlite3
conn =sqlite3.connect('inventory.db')
cur = conn.cursor()
cur.execute('''CREATE TABLE IF NOT EXISTS Inventory(ItemID INTEGER PRIMARY KEY NOT NULL, 
                                                ItemName TEXT, 
                                                price REAL)''')
# cur.execute('''INSERT INTO Inventory (ItemID, ItemName, Price)
#                VALUES (1, "Screwdriver", 4.99)''')
cur.execute('INSERT INTO Inventory (ItemID, ItemName, Price) VALUES (3, "Hammer", 4.99)')

conn.commit()
conn.close()

<b>Note:</b> in the previous example, ItemID column is both an INTEGER and a PRIMARY KEY, the DBMS will automatically generate a unique integer value for it if we do not provide one.<br>
If we want to use the auto-generated value, we can simply omit the ItemID column from our INSERT statement.

cur.execute('''INSERT INTO Inventory (ItemName, Price)
               VALUES ("Screwdriver", 4.99)''')

<b>Example:</b>

In [ ]:
import sqlite3

def main():
    conn = sqlite3.connect('inventory.db')
    
    cur = conn.cursor()
    
    cur.execute('''INSERT INTO Inventory (ItemName, Price)
                    VALUES("Screwdriver",4.99)''')
    cur.execute('''INSERT INTO Inventory (ItemName, Price)
                    VALUES("Hammer",12.99)''') 
    cur.execute('''INSERT INTO Inventory (ItemName, Price)
                    VALUES("Vice Grips",14.99)''') 
    
    conn.commit()
    conn.close()
    
main()

In [5]:
conn = sqlite3.connect('inventory.db')
cur = conn.cursor()

<b>Note:</b> We can insert multiple rows into a table with one INSERT statement.

In [6]:
cur.execute('''INSERT INTO Inventory (ItemName, Price)
                    VALUES("Screwdriver",4.99),
                    ("Hammer",12.99),
                    ("Vice Grips",14.99)''')

Sometimes, you might not have all the data for a row that you are inserting into a table:

In [7]:
cur.execute('''INSERT INTO Inventory (ItemName, Price)
                    VALUES("Power Drill",Null)''')

In [8]:
cur.execute('''INSERT INTO Inventory (ItemName)
                    VALUES("Power Drill")''')

In [9]:
cur.close()

To prevent a column from ever being assigned the value NULL, use the NOT NULL constraint when you create the table.

In [ ]:
CREATE TABLE Inventoy ((ItemID INTEGER PRIMARY KEY NOT NULL, 
                                      ItemName TEXT NOT NULL, 
                                      price REAL NOT NULL))

### Inserting the Values of Variables

Often we need to insert the values of variables into the columns of a database table.
<ul><li>
    You might need to write a program that gets values from the user and then insert those into a raow.</li>
    <li>'''INSERT INTO Inventory (ItemName, Price) VALUES(?, ?)'''</li>
</ul>

<b>Example:</b>

In [ ]:
import sqlite3

def main():
    again = 'y'
    
    conn = sqlite3.connect('inventory.db')
    cur = conn.cursor()
    
    while again =='y':
        item_name = input('Item Name:')
        price = float( input('Price: '))
        
        cur.execute('''INSERT INTO Inventory (ItemName, Price) VALUES(?, ?)''', (item_name,price))
        
        again = input('Add another item? (y/n): ')
        
    conn.commit()
    
    conn.close()
    
main()

<b>Example:</b>

In [ ]:
item_name = "Wrench"
price = None
conn = sqlite3.connect('inventory.db')
cur = conn.cursor()
cur.execute('''INSERT INTO Inventory (ItemName,Price)
            VALUES (?,?)''',(item_name, price))
conn.commit()
conn.close()

In [ ]:
conn.close()

output:
    ItemID: (Auto_generated value)
    ItemName: Wrench
    Price: NULL

### Watch out for SQL Injection Attacks

For security reasons, <b>never</b> use string concatanation to insert user input directly into an SQL statement.

In [ ]:
# Warning Do NOT write code like this!
name = input('Enter the item name: ')
price = float(input('Enter the price: '))
cur.execute('INSERT INTO Inventory (ItemName, Price)' +
           'VALUES ("'+ name +'", ' + str(price) +')')

You should never use input into an SQL statement using f-string placeholders.

In [ ]:
# Warning Do NOT write code like this!
name = input('Enter the item name: ')
price = float(input('Enter the price: '))
cur.execute(f'INSERT INTO Inventory (ItemName, Price)' +
            f'VALUES ("{name} ", {price})')

These practices make your program vulnerable to a type of attack known as SQL injection.<br>
SQL injection can occur when the application prompts the user for input, and instead of entering the expected input, the user enters a piece of carefully creafted SQL code.<br>
when that piece of SQL code is inserted into your program's SQL statement, it changes the way the statement executes and potentially performs a malicious action on your database.

## Querying Data with th SQL <i>SELECT</i> Statement

### Sample Database

<img src='images/week14/Sample.png'>

<i>Source: Starting Out with Python (5th Edition)- by Tony Gaddis Pearson</i>

### The SELECT Statement

The <i>SELECT</i> statement is used in SQL to retrieve data from a database.

The general format:
<br>SELECT Columns FROM Table

In Python using the SELECT statement with SQLite is a two-step process:

<ul><ol>1.Execute the SELECT statement- You pass the SELECT statement as a string to the Cursor object's execute method. The DBMS retrieves the results of the SELECT statement, but it does not return those results to your program.</ol>
    <ol>2.Fetch the Results- After executing the SELECT statement, call either the <i>fetchall</i> method or the <i>fetchone</i> method to fetch the results.</ol>
</ul>
The Cursor object's <i>fetchall</i> method returns the results of the SELECT statement as a list of tuples

<b>Example:</b>

In [28]:
import sqlite3
conn = sqlite3.connect('chocolate.db')
cur = conn.cursor()
cur.execute('DROP TABLE IF EXISTS Products')
cur.execute('''CREATE TABLE Products (Description, UnitCost, RetailPrice, UnitsOnHand)''')


cur.execute('''INSERT INTO Products (Description, UnitCost, RetailPrice, UnitsOnHand)
                    VALUES("Dark Chocolate Bar",2.99,5.99,197)''')
cur.execute('''INSERT INTO Products (Description, UnitCost, RetailPrice, UnitsOnHand)
                    VALUES("Medium Dark Chocolate Bar",2.99,5.99,406)''')
cur.execute('''INSERT INTO Products (Description, UnitCost, RetailPrice, UnitsOnHand)
                    VALUES("Milk Chocolate Bar",2.99,5.99,266)''')
cur.execute('''INSERT INTO Products (Description, UnitCost, RetailPrice, UnitsOnHand)
                    VALUES("Chocolate Truffles",5.99,11.99,398)''')
cur.execute('''INSERT INTO Products (Description, UnitCost, RetailPrice, UnitsOnHand)
                    VALUES("Chocolate Caramel Bar",3.99,6.99,272)''')
cur.execute('''INSERT INTO Products (Description, UnitCost, RetailPrice, UnitsOnHand)
                    VALUES("Chocolate Rasberry Bar",3.99,6.99,363)''')
cur.execute('''INSERT INTO Products (Description, UnitCost, RetailPrice, UnitsOnHand)
                    VALUES("Chocolate and Cashew Bar",4.99,9.99,325)''')
cur.execute('''INSERT INTO Products (Description, UnitCost, RetailPrice, UnitsOnHand)
                    VALUES("Hot Chocolate Mix",5.99,12.99,222)''')
cur.execute('''INSERT INTO Products (Description, UnitCost, RetailPrice, UnitsOnHand)
                    VALUES("Semisweet Chocolate Chips",1.99,3.99,163)''')
cur.execute('''INSERT INTO Products (Description, UnitCost, RetailPrice, UnitsOnHand)
                    VALUES("White Chocolate Chips",1.99,3.99,293)''')

conn.commit()
cur.execute('SELECT Description, RetailPrice FROM Products')
results = cur.fetchall()
print(results)
for row in results:
    print(f'{row[0]} {row[1]}')

[('Dark Chocolate Bar', 5.99), ('Medium Dark Chocolate Bar', 5.99), ('Milk Chocolate Bar', 5.99), ('Chocolate Truffles', 11.99), ('Chocolate Caramel Bar', 6.99), ('Chocolate Rasberry Bar', 6.99), ('Chocolate and Cashew Bar', 9.99), ('Hot Chocolate Mix', 12.99), ('Semisweet Chocolate Chips', 3.99), ('White Chocolate Chips', 3.99)]
Dark Chocolate Bar 5.99
Medium Dark Chocolate Bar 5.99
Milk Chocolate Bar 5.99
Chocolate Truffles 11.99
Chocolate Caramel Bar 6.99
Chocolate Rasberry Bar 6.99
Chocolate and Cashew Bar 9.99
Hot Chocolate Mix 12.99
Semisweet Chocolate Chips 3.99
White Chocolate Chips 3.99

<b>Example:</b>

In [ ]:
import sqlite3
def main():
    conn = sqlite3.connect('chocolate.db')
    
    cur = conn.cursor()
 
    cur.execute('SELECT Description, RetailPrice FROM Products')
    
    row = cur.fetchone()
    while row!= None:
        print(f'{row[0]} {row[1]}')
        row = cur.fetchone()
    
    conn.close()
    
main()

### Selecting All the Columns in a Table

You can use the * character instead of listing column names to retrieve every column in a table.<br>
SELECT * FROM Products

In [41]:
cur.execute('SELECT * FROM Products')
result = cur.fetchall()
for row in result:
    for i in range(len(row)):
        print(row[i],end='|')
    print()

Dark Chocolate Bar|2.99|5.99|197|
Medium Dark Chocolate Bar|2.99|5.99|406|
Milk Chocolate Bar|2.99|5.99|266|
Chocolate Truffles|5.99|11.99|398|
Chocolate Caramel Bar|3.99|6.99|272|
Chocolate Rasberry Bar|3.99|6.99|363|
Chocolate and Cashew Bar|4.99|9.99|325|
Hot Chocolate Mix|5.99|12.99|222|
Semisweet Chocolate Chips|1.99|3.99|163|
White Chocolate Chips|1.99|3.99|293|

<b>Example:</b>

In [42]:
import sqlite3

def main():
    conn = sqlite3.connect('chocolate.db')
    cur = conn.cursor()
    cur.execute('SELECT * FROM Products')
    
    results = cur.fetchall()
    
    for row in results:
        print(f'{row[0]} {row[1]} {row[2]} {row[3]} ')
        
    conn.close()
    
main()

Dark Chocolate Bar 2.99 5.99 197
Medium Dark Chocolate Bar 2.99 5.99 406
Milk Chocolate Bar 2.99 5.99 266
Chocolate Truffles 5.99 11.99 398
Chocolate Caramel Bar 3.99 6.99 272
Chocolate Rasberry Bar 3.99 6.99 363
Chocolate and Cashew Bar 4.99 9.99 325
Hot Chocolate Mix 5.99 12.99 222
Semisweet Chocolate Chips 1.99 3.99 163
White Chocolate Chips 1.99 3.99 293

### Specifying Search Criteria with the <b>WHERE</b> Clause

Sometimes we want to narrow the list down to only a few selected rows in the table. That's where the <b>WHERE</b> clause comes in.<br>
The WHERE clause can be used with the SELECT statement to specify search criteria.

The general format:<br>
SELECT Columns FROM Table WHERE Criteria

<b>Example:</b>

SELECT * FROM Products WHERE RetailPrice > 10.00

In [44]:
import sqlite3
conn = sqlite3.connect('chocolate.db')
cur = conn.cursor()
cur.execute('SELECT * FROM Products WHERE RetailPrice > 10.00')

results = cur.fetchall()

for row in results:
    print(f'{row[0]} {row[1]} {row[2]} {row[3]} ')
        
conn.close()

Chocolate Truffles 5.99 11.99 398
Hot Chocolate Mix 5.99 12.99 222

<b>Example:</b>

In [45]:
import sqlite3
conn = sqlite3.connect('chocolate.db')
cur = conn.cursor()
cur.execute('SELECT Description FROM Products WHERE RetailPrice > 10.00')
results = cur.fetchall()

for row in results:
    print(f'{row[0]}')
        
conn.close()

Chocolate Truffles
Hot Chocolate Mix

<b>Example:</b>

In [46]:
# SELECT * From Products WHERE UnitsOnHand < 100

In [48]:
# SELECT * From Products WHERE UnitCost == 2.99

In [ ]:
# SELECT * From Products WHERE Description == "Hot Chocolate Mix"

<img src='images/week14/Operator.png'>

<i>Source: Starting Out with Python (5th Edition)- by Tony Gaddis Pearson</i>

<b>Example:</b>

In [51]:
import sqlite3
def main():
    conn = sqlite3.connect('chocolate.db')
    cur = conn.cursor()
    
    min_price = float(input('Enter the minimum price: '))
    
    cur.execute('''SELECT Description, RetailPrice FROM Products WHERE RetailPrice >= ?''',(min_price,))
    
    results = cur.fetchall()
    
    if len(results)>0:
        for row in results:
            print(f'{row[0]} {row[1]}')
    else:
        print('No product found.')
                  
    conn.close()
                  
main()

Hot Chocolate Mix 12.99

Example: Now it is your turn, ask a user about the maximum Unitcorst and select those rows from Product table.

In [62]:
import sqlite3
def main():
    conn = sqlite3.connect('chocolate.db')
    cur = conn.cursor()
    max_price = float(input("Enter max price: "))
    cur.execute("SELECT * FROM Products WHERE RetailPrice <=?", (max_price,))
    result = cur.fetchall()
    if len(result) > 0:
        for row in result:
            print(f'{row[0]} {row[1]} ')
    else:
        print("No products found")
        
    conn.close()
main()

Dark Chocolate Bar 2.99
Medium Dark Chocolate Bar 2.99
Milk Chocolate Bar 2.99
Chocolate Truffles 5.99
Chocolate Caramel Bar 3.99
Chocolate Rasberry Bar 3.99
Chocolate and Cashew Bar 4.99
Semisweet Chocolate Chips 1.99
White Chocolate Chips 1.99

### SQL Logical Operators: AND, OR and NOT

We can use AND and OR logical operator to specify multiple search criteria in a WHERE clause.

<b>Example:</b>

In [ ]:
SELECT * FROM Ptoducts
WHERE UnitCost > 3.00 AND UnitOnHand < 100

<b>Example:</b>

In [ ]:
SELECT * FROM Products
WHERE RetaiPrice > 10 OR UnitsOnHand < 50

<b>Example:</b>

In [ ]:
SELECT * FROM Products
WHERE NOT RetaiPrice > 5.00

<b>Example:</b>

In [ ]:
SELECT * FROM Products
WHERE NOT(RetailPrice > 5.00 AND RetailPrice < 10.00)

### String Comparisons in a SELECT Statement

String comparisons in SQL are case sensitive.

In [ ]:
# You would not get any results:
SELECT * FROM Products
WHERE Description == 'milk chocolate bar'

In [ ]:
# You can use the lower() function to convert a string to lowercase.
SELECT * FROM Products
WHERE lower(Description) == 'milk chocolate bar'

<b>Note:</b> SQLite also provide an upper() function, which convers its argument to uppercase.

### Using the LIKE Operator

Sometimes searching for an exact string will not yeild the results you want.

In [ ]:
SELECT * FROM Products WHERE Description == 'Bar'

In [ ]:
# in order to find all the chocolate bars, we need to search for rows where the "Bar" 
# appears as a substring in the Description column
SELECT * FROM Products WHERE Description LIKE "%Bar%"

The % symbol is used as a wildcar character which represents any sequence of zero or more characters.

In [ ]:
# % --> * in regex
import sqlite3

conn = sqlite3.connect('chocolate.db')
cur = conn.cursor()
cur.execute('''SELECT * FROM Products WHERE Description LIKE "%Bar%"''')
results= cur.fetchall()

for row in results:
    print(f'{row[0]} {row[1]} {row[2]} {row[3]} ')

<b>Example:</b>Now it is your turn, select rows which have Chips in their Description:

In [1]:
import sqlite3

conn = sqlite3.connect('chocolate.db')
cur = conn.cursor()
cur.execute('''SELECT * FROM Products WHERE Description LIKE "%Chips%"''')
results= cur.fetchall()

for row in results:
    print(f'{row[0]} {row[1]} {row[2]} {row[3]} ')

Semisweet Chocolate Chips 1.99 3.99 163
White Chocolate Chips 1.99 3.99 293

<b>Note:</b> You can also use % wildcard character to find strings that either start with a specified substring or end with a specified substring.

<b>Example:</b>Start with

In [ ]:
cur.execute('''SELECT Description FROM Products WHERE Description LIKE "Chocolate%"''')
cur.fetchall()

<b>Example:</b>End with

In [ ]:
cur.execute('''SELECT Description FROM Products WHERE Description LIKE "%Mix"''')
cur.fetchall()

<b>Note:</b> You can combine the NOT operator  and the LIKE operator to search for strings that do not match a particular pattern.

<b>Example:</b>

In [ ]:
cur.execute('''SELECT Description FROM Products WHERE Description NOT LIKE "%Bar%"''')
cur.fetchall()

### Storing the Results of a SELECT Query

To sort the results of a SELECT query, you can use ORDER BY clause.

In [ ]:
SELECT * FROM Products ORDER BY RetailPrice

<b>Example:</b>

In [10]:
import sqlite3

def main():
    conn = sqlite3.connect('chocolate.db')
    cur = conn.cursor()
    cur.execute('''SELECT Description, RetailPrice FROM Products 
    ORDER BY RetailPrice''')
    
    results = cur.fetchall()

    
    for row in results:
        print(f'{row}')
        
main()

('Semisweet Chocolate Chips', 3.99)
('White Chocolate Chips', 3.99)
('Dark Chocolate Bar', 5.99)
('Medium Dark Chocolate Bar', 5.99)
('Milk Chocolate Bar', 5.99)
('Chocolate Caramel Bar', 6.99)
('Chocolate Rasberry Bar', 6.99)
('Chocolate and Cashew Bar', 9.99)
('Hot Chocolate Mix', 12.99)
('Mrudula R', 13.99)

In [15]:
conn = sqlite3.connect('chocolate.db')
cur = conn.cursor()

<b>Example:</b>

In [ ]:
# A SELECT statement that uses both a WHERE clause and an ORDER BY clause.
SELECT * FROM Products
WHERE RetailPrice > 9.00
ORDER BY RetailPrice

In [18]:
# If you want the list sorted in decending order, we can use DESC operator:
cur.execute('''SELECT * FROM Products
WHERE RetailPrice > 9.00
ORDER BY RetailPrice DESC''')
retail_desc = cur.fetchall()
print(retail_desc)

[('Mrudula R', 5.99, 13.99, 398), ('Hot Chocolate Mix', 5.99, 12.99, 222), ('Chocolate and Cashew Bar', 4.99, 9.99, 325)]

In [19]:
import sqlite3

def main():
    conn = sqlite3.connect('chocolate.db')
    cur = conn.cursor()
    cur.execute('''SELECT Description, RetailPrice FROM Products where retailprice > 9 ORDER BY RetailPrice DESC''')
    
    results = cur.fetchall()
    
    for row in results:
        print(f'{row[0]} {row[1]}')
        
main()

Mrudula R 13.99
Hot Chocolate Mix 12.99
Chocolate and Cashew Bar 9.99

### Aggregate Functions

In SQL, an aggregate function performs a calculation on a set of values from a database table and returns a single value.

<b>Note:</b> AVG function calculates the average value of a column that contains numeric values.

In [ ]:
SELECT AVG(RetailPrice) FROM Products

In [20]:
import sqlite3

conn= sqlite3.connect('chocolate.db')
cur = conn.cursor()
cur.execute('SELECT AVG(RetailPrice) from products')
results=cur.fetchall()

for row in results:
    print(f'{row[0]}')

7.6899999999999995

In [ ]:
SELECT AVG(Price) FROM Products WHERE Description LIKE "%Bar%"

<b>Note:</b> SUM function calculates the sum of a column that contains numeric values

In [ ]:
SELECT SUM(UnitsOnHand) FROM Products

<b>Note:</b> MIN and MAX functions determine the minimum and maximum values found in a column that contains numeric values.

In [ ]:
SELECT MIN(RetailPrice) FROM Products

In [ ]:
SELECT MAX(RetailPrice) FROM Products

<b>Note:</b> COUNT function determines the number of rows in a table.

In [26]:
cur.execute('''SELECT COUNT(*) FROM Products''')
product_count = cur.fetchall()
print(product_count)

<class 'list'>

In [24]:
import sqlite3

def main():
    conn = sqlite3.connect('chocolate.db')
    cur = conn.cursor()
    cur.execute('''SELECT count(*) FROM Products''')
    
    results = cur.fetchall()
    
    for row in results:
        print(f'{row[0]}')
        
main()

10

<b>Note:</b> The * indicates that you want to count entire rows.

In [ ]:
SELECT COUNT(*) FROM Products WHERE RetailPrice > 9.95

In Python code, the way to retrieve that value that is returned from an aggregate function is with the Cursor object's fetchon method.

In [28]:
import sqlite3
conn = sqlite3.connect('chocolate.db')
    
cur = conn.cursor()
cur.execute('SELECT SUM(UnitsOnHand) FROM Products')
cur.fetchone() #tuple

2905

When a query return only one value, the fetchone method returns a tuple with one element which is index 0.<br>
If you want to work with the value, and not the tuple, you have to read the value from the tuple.

<b>Example:</b>

In [ ]:
cur.execute('SELECT SUM(UnitsOnHand) FROM Products')
results = cur.fetchone()
sum = results[0]

In [ ]:
cur.execute('SELECT SUM(UnitsOnHand) FROM Products')
sum = cur.fetchone()[0]

In [30]:
cur.close()

<b>Example:</b>

In [32]:
import sqlite3

def main():
    conn = sqlite3.connect('chocolate.db')
    cur = conn.cursor()
    
    cur.execute('SELECT MIN(RetailPrice) FROM Products')
    lowest = cur.fetchone()[0]
    
    cur.execute('SELECT MAX(RetailPrice) FROM Products')
    highest = cur.fetchone()[0]
    
    cur.execute('SELECT AVG(RetailPrice) FROM Products')
    average = cur.fetchone()[0]
    
    print(f'Lowesr Price: ${lowest:.2f}')
    print(f'Highest Price: ${highest:.2f}')
    print(f'Average Price: ${average:.2f}')
    
    conn.close()
    
main()

Lowesr Price: $3.99
Highest Price: $13.99
Average Price: $7.69

## Updating and Deleting Existing Rows

### Updating Rows

The UPDATE statement is used to change the contents of an existing row in a table.

The general format: 
UPDATE Table
SET Column = Value
WHERE Criteria

<b>Example:</b>

In [ ]:
UPDATE Products
SET RetailPrice = 13.99
WHERE Description == "Chocolate Truffles"

In [37]:
import sqlite3

def main():
    conn = sqlite3.connect('chocolate.db')
    cur = conn.cursor()
    cur.execute("""SELECT * FROM Products""")
    before = cur.fetchall()
    print(before, 'before')
    cur.execute("""UPDATE Products SET RetailPrice = 31.99 WHERE Description == "Mrudula R" """)

    cur.execute("""SELECT * FROM Products""")
    retailUpdate = cur.fetchall()
    print(retailUpdate, 'after')
    conn.commit()

main()

[('Dark Chocolate Bar', 2.99, 5.99, 197), ('Semisweet Chocolate Bar', 2.99, 5.99, 406), ('Milk Chocolate Bar', 2.99, 5.99, 266), ('Mrudula R', 5.99, 13.99, 398), ('Chocolate Caramel Bar', 3.99, 6.99, 272), ('Chocolate Rasberry Bar', 3.99, 6.99, 363), ('Chocolate and Cashew Bar', 4.99, 9.99, 325), ('Hot Chocolate Mix', 5.99, 12.99, 222), ('Semisweet Chocolate Chips', 1.99, 3.99, 163), ('White Chocolate Chips', 1.99, 3.99, 293)] before
[('Dark Chocolate Bar', 2.99, 5.99, 197), ('Semisweet Chocolate Bar', 2.99, 5.99, 406), ('Milk Chocolate Bar', 2.99, 5.99, 266), ('Mrudula R', 5.99, 31.99, 398), ('Chocolate Caramel Bar', 3.99, 6.99, 272), ('Chocolate Rasberry Bar', 3.99, 6.99, 363), ('Chocolate and Cashew Bar', 4.99, 9.99, 325), ('Hot Chocolate Mix', 5.99, 12.99, 222), ('Semisweet Chocolate Chips', 1.99, 3.99, 163), ('White Chocolate Chips', 1.99, 3.99, 293)] after

<b>Example:</b>

In [ ]:
UPDATE Products
SET Description = "Semisweet Chocolate Bar"
WHERE RowID == 2

In [34]:
import sqlite3

def main():
    conn = sqlite3.connect('chocolate.db')
    cur = conn.cursor()
    cur.execute("""UPDATE Products SET Description = "Semisweet Chocolate Bar" WHERE RowID == 2 """)
    conn.commit()
    

main()

<b>Example:</b>

In [ ]:
UPDATE Products
SET RetailPrice = 8.99
WHERE Description LIKE "%Bar"

In [ ]:
import sqlite3

def main():
    conn = sqlite3.connect('chocolate.db')
    cur = conn.cursor()
    cur.execute("""UPDATE Products SET RetailPrice = 8.99 WHERE Description LIKE "%Bar" """)
    conn.commit()
    

main()

<b>Example:</b>

In [ ]:
import sqlite3

def main():
    conn = sqlite3.connect('chocolate.db')
    
    cur = conn.cursor()
    
    pid = int(input('Enter a product ID: '))
    
    cur.execute('''SELECT Description, RetailPrice From Products Where rowID == ?''', (pid,))
    
    results = cur.fetchone()
    
    if results != None:
        print(f'The current price for {results[0]}' f'is ${results[1]:.2f}')
        
        new_price = float(input('Enter the new price: '))
    
        cur.execute('''UPDATE Products SET RetailPrice = ? WHERE rowID ==?''',(new_price,pid))
    
        conn.commit()
        print('The price was changed.')
    
    else:
        print(f'Product ID {pid} not found.')
              
    conn.close()
              
main()

#### Updating Multiple Columns

The general format:
UPDATE Table
SET Column1 = Value, 
    Column2 = Value,
    ...
WHERE Criteria

<b>Example:</b>

In [ ]:
UPDATE Products
SET RetailPrice = 8.99
    UnitsOnHand = 100
WHERE DESCRIPTION LIKE "%Bar"

In [ ]:
import sqlite3

def main():
    conn = sqlite3.connect('chocolate.db')
    cur = conn.cursor()
    cur.execute("""UPDATE Products SET RetailPrice = 8.99, UnitsOnHand = 100 WHERE DESCRIPTION LIKE "%Bar" """)
    conn.commit()

main()

#### Determining the Number of Rows Updated

The Cursor object has a public data attribute named <i>rowcount</i> that contains the number of rows that were altered by the most recently executed SQL statement.<br>
After issuing an UPDATE statement, you can read the value of the rowcount attribute to determine the number of rows that were updated.

In [ ]:
import sqlite3
conn = sqlite3.connect('chocolate.db')
cur = conn.cursor()
cur.execute('''UPDATE Products SET UnitsOnHand = 0 WHERE Description LIKE "%Bar"''')
conn.commit()
print(cur.rowcount)

### Deleting Rows with the DELETE Statement

In SQL we use DELETE statement to delete one or more rows from a table.
The general format:<br>
DELETE FROM Table WHERE Criteria

<b>Example:</b>

In [ ]:
DELETE FROM Products WHERE ProductID == 10

<b>Note:</b> It is possible to delete multiple rows with the DELETE statement.

<b>Example:</b>

In [ ]:
DELETE FROM Products WHERE Description LIKE "%Bar"

<b>Note:</b> You don't leave out the WHERE clause and the conditional expression when using a DELETE statement. You could delete every row in the table!

<b>Example:</b>

In [ ]:
import sqlite3

def main():
    conn = sqlite3.connect('chocolate.db')
    
    cur = conn.cursor()
    
    pid = int(input('Enter a product ID to delete: '))
    
    cur.execute('''SELECT Description From Products WHERE RowID==?''',(pid,))
    results = cur.fetchone()
    
    if results !=None:
        sure = input(f'Are you sure you want to delete {results[0]}? (y/n):')
        
        if sure.lower() == 'y':
            cur.execute('''DELETE FROM Products WHERE RowID ==?''',(pid,))
            
            conn.commit()
            print('The product was deleted.')
            
            
    else:
        print(f'Product ID {pid} not found.')
        
    conn.close()
    
main()

#### Determining the Number of Rows Deleted

In [ ]:
cur.execute('''DELETE FROM Products WHERE Description LIKE "%Chips%"''')
conn.commit()
print(cur.rowcount)

## More About Primary Keys

Some general rules to remember about primary keys:
    <ul><li>Primary keys must hold a value. They cannot be NULL.</li>
    <li>Each row's primary key value must be unique. NO two row in a table can have the same primary key.</li>
    <li>A table can have only one primary key. However, multiple columns can be combined create a composite key.</li>
    </ul>

### Primary Keys Other Than Integer

You can designate any type of column as the primary key for a table.<br>
Example: creating a database to hold employee data, and each employee has a unique employee ID that consists of letters and numbers.Employee's ID is unique and it can be used as the primary key.

In [ ]:
CREATE TABLE EMPLOYEE(Employee TEXT PRIMARY KEY NOT NULL, Name TEXT, PayRate REAL)

<b> Note:</b> When using a non-integer primary key, you must be sure to assign a unique non-null value to the primary key column each time you add a row to the table.

### Composite Keys

Sometimes, a table does not have any column that contain unique data.

<b>Example:</b>

We have designing a database table that contains the following data about classroom on a college campus.
<ul><li>Room Number</li>
    <li>Building</li>
    <li>Seating Capacity</li>
</ul>
        
The database table will be named Classrooms with the following columns:<br>
RoomNumber: INTEGER<br>
Buidling: TEXT<br>
Seats: INTEGER<br>

None of the columns can be used as the primary key. We have two choices:
<ul><li>Add an identity column such as INTEGER PRIMARY KEY</li>
    <li>Create a composite key, which is two or more columns that are combined to create a unique value.</li></ul>
In this example, we can combine RoomNumber column and the Building column to create a unique value.

In [ ]:
CREATE TABLE TableName (ColumnName1 DataType1,
                        ColumnName2 DataType2, 
                        etc...
                       PRIMARY KEY(ColumnName1, ColumnName2, etc...))

In [ ]:
CREATE TABLE Classrooms (RoomNumber INTEGER NOT NULL, 
                         Building TEXT NOT NULL, 
                         Seats INTEGER,
                         PRIMARY KEY(RoomNumber, Building))

<b>Note:</b> Notice that you should apply the NOT NULL constraint to both the RoomNumber and Building columns.

## Handling Database Exceptions

The sqlite3 module defines its own exceptions thtat are thrown when a database error occurs.

The general format is as follows:

In [40]:
conn = None
try:
    conn = sqlite3.connect(DatabaseName)
    cur = conn.Cursor()
    
except sqlite3.Error:
    print('Name')
    
except Exception:
    print('Error')
    
finally:
    if conn != None:
        conn.close()

Error
None

<b>Example:</b>

In [41]:
import sqlite3

def main():
    again = 'y'
    
    while (again == 'y'):
        item_id = int(input('Item ID: '))
        item_name = input('Item Name: ')
        price = float(input('Price: '))
        
        
        add_item(item_id, item_name, price)
        again = input('Add another item? (y/n):')
        
def add_item(item_id, name, price):
    conn= None
    
    try:
        conn = sqlite3.connect('inventory2.db')
        cur = conn.cursor()
        
        cur.execute('''INSERT INTO Inventory (ItemID, ItemName, Price) VALUES(?,?,?)''', (item_id,name,price))
        
        conn.commit()
        
    except sqlite3.Error as err:
        print(err)
        
    finally:
        if conn != None:
            conn.close()
            
main()

no such table: Inventory

## Relational Data

In a relational database, a column from one table can be associated with a column from other tables. This association cretaes a relationship between the tables.

<img src='images/week14/Relational.png'>

<i>Source: Starting Out with Python (5th Edition)- by Tony Gaddis Pearson</i>

Departments Table:
<ul><li>DepartmentID- INTEGER (Primary Key)</li>
    <li>DepartmentName-TEXT</li>
</ul>

Locations Table:
<ul><li>LocationID-INTEGER (Primary Key)</li>
    <li>City- TEXT</li>
</ul>

Employees Table:
<ul><li>EmployeeID-INTEGER (Primary Key)</li>
    <li>Name-TEXT</li>
    <li>Position-TEXT</li>
    <li>DepartmentID-INTEGER</li>
    <li>LocationID-INTEGER</li>
</ul>

### Foreign Keys

A foreign key is a column in one table that refrences a primary key in another table.<br>
In the Employee table, the DepartmentID and LocationID columns are foreign keys.
<ul><li>The DepartmentID column in the Employees table refrences the DepartmentID column in the departments table. Recall that DepartmentID is the primary key in the Departments table.
</li>
<li>The locationID column in the Employees table refrences the LocationID column in the locations table. Recall that locationID is the Primary key in the Locations table.</li></ul>

### Entity Relationship Diagram

System designers commonly use entity relationship diagram to show the relationships between database tables.<br>
There are two types of relationships:
<ul><li>A one-to-many relationship: for each row in table A there can be many rows in table B that refrence it.</li>
    <li>A many-to-one relationship: many rows in table A can reference a single row in table B</li></ul>

<img src='images/week14/Entity.png'>

<i>Source: Starting Out with Python (5th Edition)- by Tony Gaddis Pearson</i>

### Creating Foreign Keys in SQL

In [ ]:
CREATE TABLE Departments(DepartmentID INTEGER PRIMARY KEY NOT NULL,
                        DepartmentName TEXT)
CREATE TABLE Locations(LocationID INTEGER PRIMARY KEY NOT NULL,
                      City TEXT)

In [ ]:
#For creating the Employee table, we need to use the FOREIGN KEY table constraint to designate the foreign keys:
CREATE TABLE Employee (EmployeID INTEGER PRIMARY KEY NOT NULL,
                      Name TEXT,
                      Position TEXT,
                      DepartmentID INTEGER,
                      LocationID INTEGER,
                      FOREIGN KEY(DepartmentID) REFERENCES 
                        Departments(DepartmentID),
                      FOREIGN KEY(LocationID) REFERENCES
                        Locations(LocationID))

The general format of the FOREIGN KEY table constraint:<br>
    FOREIGN KEY(ColumnName) REFERENCES TableName(ColumnName)

<b>Note:</b> By default,SQLite does not enforce the integrity of foreign keys. if you want to evolve the integrity of foreign keys in an SQLite database, you must explicitly enable the feature.<br>
The general format is:<br>
cur.execute('PRAGMA foreign_keys=ON')

<img src='images/week14/Foreign_Employee.png'>

<img src='images/week14/Foreign_Department.png'>

<img src='images/week14/Foreign_Location.png'>

<i>Source: Starting Out with Python (5th Edition)- by Tony Gaddis Pearson</i>

In [ ]:
import sqlite3


conn = sqlite3.connect('employee.db')
cur = conn.cursor()
cur.execute('Drop Table Departments')  
cur.execute('Drop Table Locations') 
cur.execute('Drop Table Employees') 
        
cur.execute('PRAGMA foreign_keys= ON')
cur.execute('CREATE TABLE Departments(DepartmentID INTEGER PRIMARY KEY NOT NULL, DepartmentName TEXT)')
cur.execute('CREATE TABLE Locations(LocationID INTEGER PRIMARY KEY NOT NULL, City TEXT)')
cur.execute('''INSERT INTO Departments(DepartmentID, DepartmentName) VALUES(1,"Accounting"),(2,"Manufactoring"),(3,"Marketing"),
(4,"Research")''')
cur.execute('''INSERT INTO Locations(LocationID, City) VALUES(1,"Austin"),(2,"Boston"),(3,"New York"),
        (4,"San Jose")''')
cur.execute("""CREATE TABLE Employees(EmployeID INTEGER PRIMARY KEY NOT NULL,
                      Name TEXT,
                      Position TEXT,
                      DepartmentID INTEGER,
                      LocationID INTEGER,
                      FOREIGN KEY(DepartmentID) REFERENCES 
                      Departments(DepartmentID),
                      FOREIGN KEY(LocationID) REFERENCES
                      Locations(LocationID))""")
       
cur.execute('''INSERT INTO Employees (Name, Position, DepartmentID, LocationID) VALUES("Arlene Meyers","Director",4,4),
        ("Janelle Grant","Engineer",2,1), ("Jack Smith","Manager",3,3),("Sonia Alvarado","Auditor",1,2),("Rene Kinkade","Designer",3,3)''')


     
conn.commit()

In [ ]:
import sqlite3


        
cur.execute('''INSERT INTO Employees(Name,Position,DepartmentID, LocationID) VALUES("Bill Swift","Intern",99,1)''')
        
conn.commit()
        
conn.close()

When updating a row that has a foreign key, you must be sure that you do not change the foreign key to an invalid value.

Suppose table A has a foreign key that refrences a column in table B. You cannot delete any rows in table B that are currently references by rows in table A.

In [ ]:
cur.execute('PRAGMA foreign_keys = ON')
cur.execute('DELETE FROM Locations WHERE LocationID ==4')
conn.commit()

### Retrieving Columns from Multiple Tables in a SELECT Statement

when related data is stored in several tables, it is necessary to pull data from multiple tables in a signle SELECT statement.
<ul><li>In our SELECT statement, we need to specify not only the names of the columns but also the names of the tables to which those columns belong.</li>
    <ul><li> We will use <i>qualified column names</i> with the following format:<br>
        TableName.ColumnName
        </li>
    </ul></ul>

<b>Example:</b>

In [1]:
SELECT
    Employees.Name,
    Departments.DepartmentName
    Locations.City
FROM
    Employees, Departments, Locations
WHERE
    Employees.DepartmentID == Departments.DepartmentID AND
    Employees.LocationID == Locations.LocationID

IndentationError: unexpected indent (4281091156.py, line 2)

<b>Example:</b>

In [ ]:
import sqlite3

def main():
    conn = None
    
    try:
        conn = sqlite3.connect('employee.db')
        cur = conn.cursor()
        
        cur.execute('PRAGMA foreign_keys=ON')
        
        cur.execute('''SELECT 
                            Employees.Name,
                            Departments.DepartmentName,
                            Locations.City
                       FROM
                           Employees,Departments, Locations
                       WHERE
                           Employees.DepartmentID == Departments.DepartmentID AND
                           Employees.LocationID == Locations.LocationID''')
        results = cur.fetchall()
        
        for row in results:
            print(f'{row[0]}{row[1]}{row[2]}')
            
    except sqlite3.Error as err:
        print(err)
    finally:
        if conn != None:
            conn.close()
main()

<b>Note: </b> When joining data from multiple tables, be sure to use a WHERE clause to specify search criteria that link the appropriate columns. Failure to do so can result in a large set of unrelated data.

In [5]:
a = {1:'w',2:'e'}
a.pop(2,'q')

'e'