In [ ]:
x = 5
y = "John"
print(type(x))
print(type(y))

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
2myvar = "John"
my-var = "John"
my var = "John"

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

In [ ]:
x = 5
y = "John"
print(x + y)

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

In [ ]:
x = "awesome"
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

In [ ]:
x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

In [ ]:
for x in "banana":
    print(x)

In [ ]:
a = "Hello, World!"
print(len(a))

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

In [ ]:
b = "Hello, World!"
print(b[2:5])

In [ ]:
b = "Hello, World!"
print(b[:5])

In [ ]:
b = "Hello, World!"
print(b[2:])

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

In [ ]:
a = "Hello, World!"
print(a.upper())

In [ ]:
a = "Hello, World!"
print(a.lower())

In [ ]:
a = " Hello, World! "
print(a.strip())

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

In [ ]:
a = "Hello, World!"
print(a.replace("o", "J"))

In [ ]:
a = "Hello, World!"
print(a.split(","))

In [ ]:
age = 36
txt = "My name is John, I am " + age
print(txt)

In [ ]:
txt = "We are the so-called "Vikings" from the north."
print(txt)

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

In [ ]:

if 'b' > 'A':
  print("b is greater than A")
else:
  print("b is not greater than A")

In [ ]:
def myFunction() :
  return True

print(myFunction())

In [ ]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

In [ ]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry",'orange']
thislist.append("orange")
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

In [ ]:
thislist = [0, 1,2,3,4,5]
del thislist[3]
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist['cherry']
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
my_list = [(x*2) for x in thislist]
print(my_list)

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if x != "apple"]
print(newlist)

In [ ]:
newlist = [x for x in range(10)]
print(newlist)

In [ ]:
newlist = [x for x in range(10) if x < 5]
print(newlist)

In [ ]:
newlist = [x.upper() for x in fruits]
print(newlist)

In [ ]:
newlist = ['hello' for x in fruits]
print(newlist)

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1=list2

print(list1)
print(list2)

In [ ]:
list1[0]= 'D'
print(list2)

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1[2]=list2[1]

print(list1)
print(list2)

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1=list2
list1[2]='d'

print(list1)
print(list2)

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

In [ ]:
x = ("apple", "banana", "cherry")
x[1]="kiwi"

print(x)

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

In [ ]:
y = ("apple", "banana", "cherry")
y.append("orange")
print(y)

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

In [ ]:
y = ("apple", "banana", "cherry")
y.remove("apple")
print(y)

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

In [ ]:
tuple1 = ("a", "b" , "c")


tuple3 = tuple1 + 'd'
print(tuple3)

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry", "apple"}

print(len(thisset))

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

In [ ]:
If the item to remove does not exist, discard() will NOT raise an error.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection(y)

print(x)

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z= x.intersection(y)

print(z)

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference(y)

print(x)

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z= x.symmetric_difference(y)

print(z)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

In [ ]:
print(len(thisdict))

In [ ]:
x = thisdict.get("Ford")
print(x)

In [ ]:
x = thisdict.get("MODEL",'Not found')
print(x)

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}


x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("year")
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(thisdict[x])

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
  print(x)

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
myfamily["child2"]['name']

In [ ]:
a = 33
b = 200
if b > a:
print("b is greater than a")

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

In [ ]:
a = 200
b = 33
c = 500
if a < b or c > a:
  print("Both conditions are True")

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

In [ ]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

In [ ]:
for x in range(2, 30, 3):
  print(x)

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

In [ ]:
if 'bar' in {'foo': 1, 'bar': 2, 'baz': 3}:
    print(1)
    print(2)
    if 'a' in 'qux':
        print(3)
print(4)

In [ ]:
d = {'a': 0, 'b': 1, 'c': 0}
if d['a'] > 0:
    print('ok1')
elif d['b'] > 0:
    print('ok2')
elif d['c'] > 0:
    print('ok3')
elif d['d'] > 0:
    print('ok4')
else:
    print('not ok')

In [ ]:
if '123 abc'.isalnum():
    y= 'a' + 'x' 
else:
    y= 'y' + 'b'
print(y)

In [ ]:
d = {'foo': 100, 'bar': 200, 'baz': 300}
d['bar':'baz']

In [ ]:
x = [
    'a',
    'b',
    {
        'foo': 1,
        'bar':
        {
            'x' : 10,
            'y' : 20,
            'z' : 30
        },
        'baz': 3
    },
    'c',
    'd'
]

x[2]['baz']

In [ ]:
x = [
    'a',
    'b',
    {
        'foo': 1,
        'bar':
        {
            'x' : 10,
            'y' : 20,
            'z' : 30
        },
        'baz': 3
    },
    'c',
    'd'
]
'z' in x[2]['bar']

In [ ]:
d = {'foo': 100, 'bar': 200, 'baz': 300}
d['bar']

In [ ]:
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
x[1][2][2]

In [ ]:
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
x[1][2][1:3]

In [ ]:
a, b, c = (1, 2, 3, 4, 5, 6, 7, 8, 9)[1::3]
print(a,b,c)

In [ ]:
{'b', 'a', 'r'} & set('qux')

In [ ]:
s = 'foo'
t = 'bar'
print('barf' in 2 * (s + t))

In [ ]:
s = 'foobar'
s[::-5]

In [ ]:
s[0] + s[-1]

In [ ]:
s[::5]

In [ ]:
s[::-1][::-5]

In [ ]:
s[::-1][-1] + s[len(s)-1]

In [ ]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
while d:
    print(d.popitem())
    print('ok')
print('Done.')

In [ ]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
while len(d) > 3:
    print(d.popitem())
print('Done.')

When reading a file using the file object, what method is best for reading the entire file into a single string?

In [ ]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}
sampleDict['class']['student']['marks']['physics']

In [ ]:
class Robot:
    def __init__(self, name):
        self.name = name
    def say_hi(self):
        print("Hi, I am " + self.name)
class PhysicianRobot(Robot):
    def say_hi(self):
        print("Everything will be okay! ") 
        print(self.name + " takes care of you!")
y = PhysicianRobot("James")
y.say_hi()

In [ ]:
x = Robot("Marvin")
y = PhysicianRobot("James")
print(isinstance(x, Robot), isinstance(y, Robot))
print(isinstance(x, PhysicianRobot))
print(isinstance(y, PhysicianRobot))

In [ ]:
def f(x):
    return x + 42
print(f(3))

def f(x):
    return x + 43
print(f(3))

In [ ]:
def f(n):
    return n + 42
def f(n,m):
    return n + m + 42
print(f(3,4))

In [ ]:
squares = [x**2 for x in range(10)]
print(squares)

In [ ]:
def some_function(a):
    return (a + 5) / 2
    
my_formula = [some_function(i) for i in range(10)]
print(my_formula)

In [ ]:
filtered = [i for i in range(20) if i%2==0]
print(filtered)

In [ ]:
mystring = "The quick brown fox"
mylist = mystring.split(' ')
print(mylist)

In [ ]:
mylist = [1, 1, 2, 3, 4, 5, 5, 5, 6, 6]
print (set(mylist))

In [ ]:
print (set(['aaabbbcccdddeeefff','ug']))