    
    Neshat Beheshti
    University of Texas Arlington

    This document can only be used for class studies. 
    You are not allowed to share it in any public platform.

        The Material for this Notebook is Adopted from 
        Starting Out with Python (4th Edition)- by Tony Gaddis Pearson

<h1 align='center' style="color: blue;">Dictionaries and Sets</h1>

<tr> Row1
    <th> Mutable</th>
    <th> Non Mutable</th>
</tr>
<tr> Row2
    <th> Sets, List</th>
    <th> String, Tuple</th>
</tr>

Key Points:
<br>
Comprehension is accessing by using "for loop"

## 1. Dictionaries

Dictionary: object that stores a collection of data 
<ul>
    <li>Each element consists of a key and a value</li>
<ul>
    <li>Often referred to as mapping of key to value</li>
    <li>Key must be an immutable object</li>
    </ul>
    <li>To retrieve a specific value, use the key associated with it</li>
    <li>Format for creating a dictionary</li>
	<ul>
        <li><i>dictionary = 
            {key1:val1, key2:val2}</i></li>
    </ul>
</ul>

<b>Example:</b>

In [ ]:
phonebook = {'Chris':'555−1111', 'Katie':'555−2222', 'Joanne':'555−3333'}
phonebook

### 1.1.Retrieving a Value from a Dictionary

<li>Elements in dictionary are unsorted</li>
<li><i>General format for retrieving value from dictionary: dictionary_name[key]</i></li>
<ul>
    <li>If <i>key</i> in the dictionary, associated value is returned, otherwise, <i>KeyError</i> exception is raised</li>
    <li>Test whether a key is in a dictionary using the in and not in operators</li>
<ul>
    <li>Helps prevent <i>KeyError</i> exceptions</li>

In [ ]:
phonebook = {'Chris':'555−1111', 'Katie':'555−2222', 'Joanne':'555−3333'}
phonebook['Chris']

In [ ]:
phonebook['Joanne']

In [ ]:
phonebook['Katie']

In [ ]:
phonebook['Kate']

In [ ]:
phonebook = {'Chris':'555−1111', 'Katie':'555−2222', 'Joanne':'555−3333'}

if 'Chris' in phonebook:
    print(phonebook['Chris'])

In [ ]:
phonebook = {'Chris':'555−1111', 'Katie':'555−2222'}
if 'Joanne' not in phonebook:
    print('Joanne is not found.')

<b>Example:</b>

In [ ]:
stuff = {1 : 'aaa', 2 : 'bbb', 3 : 'ccc'}
print(stuff[3])

### 1.2.Adding Elements to an Existing Dictionary

<li>Dictionaries are mutable objects</li>
<li>To add a new key-value pair:</li>
		<ul>dictionary[key] = value<ul>

<b>Example:</b>

In [ ]:
phonebook = {'Chris':'555−1111', 'Katie':'555−2222', 'Joanne':'555−3333'}
phonebook['Joe'] = '555−0123'
phonebook

<b>Note:</b> You cannot have duplicate keys in a dictionary. When you assign a value to an existing key, the new value replaces the existing value.

In [ ]:
phonebook['Chris'] = '555−4444'
phonebook

### 1.3. Deleting Elements From an Existing Dictionary

<li>To delete a key-value pair:</li>
			<ul>del dictionary[key]</ul>
    <li>If key is not in the dictionary, <i>KeyError</i> exception is raised</li>

<b>Example:</b>

In [ ]:
phonebook = {'Chris':'555−1111', 'Katie':'555−2222', 'Joanne':'555−3333'}
del phonebook['Chris'] 
phonebook

In [ ]:
del phonebook['Chris']

In [ ]:
phonebook = {'Chris':'555−1111', 'Katie':'555−2222', 'Joanne':'555−3333'}
if 'Chris' in phonebook:
    del phonebook['Chris']

phonebook

<b>Example:</b>

In [ ]:
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
del squares[4]
squares

In [ ]:
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
del squares
print(squares)

### 1.4. Getting the Number of Elements and Mixing Data Types

<li>len function: used to obtain number of elements in a dictionary</li>
<li>Keys must be immutable objects, but associated values can be any type of object</li>
<ul>
<li>One dictionary can include keys of several different immutable types</li>
</ul>
<li>Values stored in a single dictionary can be of different types</li>

In [ ]:
phonebook = {'Chris':'555−1111', 'Katie':'555−2222'}
num_items = len(phonebook)
print(num_items)

In [ ]:
# dictionary with integer keys
stuff = {1 : 'aaa', 2 : 'bbb', 3 : 'ccc'} 
print(len(stuff))

In [ ]:
test_scores = { 'Kayla' : [88, 92, 100],'Luis' : [95, 74, 81],'Sophie' : [72, 88, 91],'Ethan' : [70, 75, 78] }
test_scores

In [ ]:
test_scores['Sophie']

In [ ]:
kayla_scores = test_scores['Kayla']
print(kayla_scores)

In [ ]:
# dictionary with mixed keys
mixed_up = {'abc':1, 999:'yada yada', (3, 6, 9):[3, 6, 9]}
mixed_up[(3,6,9)]

In [ ]:
my_dictionary = {'name': 'John', 1: [2, 4, 3]}
my_dictionary

In [ ]:
employee = {'name' : 'Kevin Smith', 'id' : 12345, 'payrate' : 25.75 }
employee

### 1.5. Creating an Empty Dictionary and Using for Loop to Iterate Over a Dictionar

To create an empty dictionary:
<ul>
<li>Use {}</li>
<li>Use built-in function dict()</li>
    <li>we can use list with tuples and send the list as argument of dict()</li>
<li>Elements can be added to the dictionary as program executes</li></ul>
    </ul>

<b>Example:</b>

In [ ]:
phonebook = {}
phonebook['Chris'] = '555−1111'
phonebook['Katie'] = '555−2222'
phonebook['Joanne'] = '555−3333'
phonebook

In [ ]:
phonebook = dict()
phonebook

In [ ]:
my_dictionary = dict({1:'apple', 2:'ball'})
my_dictionary

In [ ]:
my_dict = dict([(1,'apple'), (2,'ball')])
my_dict

Use a for loop to iterate over a dictionary
<ul>
<li>General format: for key in dictionary:</li>
    <ul>
   <i>for &nbsp;var in dictionary(): 
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;statement 
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;statement
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;etc.</i>
</ul>

In [ ]:
squares = {}
for x in range(6):
    squares[x] = x*x
print(squares)

<b>Example:</b>

In [ ]:
phonebook = {'Chris':'555−1111', 'Katie':'555−2222', 'Joanne':'555−3333'}

for key in phonebook:
    print(key)

In [ ]:
for key in phonebook:
    print(key, phonebook[key])

In [ ]:
stuff = {1 : 'aaa', 2 : 'bbb', 3 : 'ccc'} 
for k in stuff:
    print(k)

In [ ]:
for k in stuff:
    print(k,stuff[k])

### 1.6.Some Dictionary Methods

<img src='images/week10/Some of the dictionary methods.png'>

<i>Source: Starting Out with Python (4th Edition)- by Tony Gaddis Pearson</i>

<b>clear method: deletes all the elements in a dictionary, leaving it empty</b>
<ul><li>Format: dictionary.clear()</li></ul>
<li> For "clear()" you use name of the dictionary and for "del" we use keys of dict </li>

<b>Example</b>

In [ ]:
phonebook = {'Chris':'555−1111', 'Katie':'555−2222'}
phonebook

In [ ]:
phonebook.clear()
phonebook

<b>Example:</b>

In [ ]:
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
squares.clear()
print(squares)

In [ ]:
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
del squares
print(squares)

<b>get method: gets a value associated with specified key from the dictionary</b>
<ul><li>Format: dictionary.get(key, default)</li>
<ul><li>default is returned if key is not found</li></ul>
    <li>Alternative to [] operator</li>
    <ul><li>Cannot raise KeyError exception</li></ul></ul>
    
    if value  in dict: return value
    if value not in dict and default : return default
    if value not in dict and no default : return None

<b>Example</b>

In [ ]:
phonebook = {'Chris':'555−1111', 'Katie':'555−2222'}
value = phonebook.get('Katie', 'Entry not found')
print(value)

In [ ]:
value = phonebook.get('Andy', 'Entry not found')
print(value)

In [ ]:
value = phonebook.get('Andy')
print(value)

<b>items method: returns all the dictionaries keys and associated values</b>
<ul><li>Format: dictionary.items()</li>
    <li>Returned as a dictionary view</li>
<ul><li>Each element in dictionary view is a tuple which contains a key and its associated value</li>
    <li>Use a for loop to iterate over the tuples in the sequence</li>
<ul><li>Can use a variable which receives a tuple, or can use two variables which receive key and value</li></ul>
    </ul></ul>

<b>Example</b>

In [ ]:
phonebook = {'Chris':'555−1111', 'Katie':'555−2222', 'Joanne':'555−3333'}
ti = phonebook.items()
ti

In [ ]:
for key, value in phonebook.items():
    print(key, value)

<b>keys method: returns all the dictionaries keys as a sequence</b>
<ul><li>Format: dictionary.keys()</li></ul>

<b>Example</b>

In [ ]:
phonebook = {'Chris':'555−1111', 'Katie':'555−2222', 'Joanne':'555−3333'}
phonebook.keys()

In [ ]:
for key in phonebook.keys():
    print(key)

<b>pop method: returns value associated with specified key and removes that key-value pair from the dictionary</b>
<ul><li>Format: dictionary.pop(key, default)</li>
<ul><li>default is returned if key is not found</li>
</ul></ul>

    if value  in dict: return value
    if value not in dict and default : return default
    if value not in dict and no default : DISPLAY ERROR

<b>Example</b>

In [ ]:
phonebook = {'Chris':'555−1111', 'Katie':'555−2222', 'Joanne':'555−3333'}
phone_num = phonebook.pop('Chris', 'Entry not found')
phone_num

In [ ]:
phonebook

In [ ]:
phone_num = phonebook.pop('Andy', 'Element not found')
phone_num

In [ ]:
phonebook

<b>Example:</b>

In [ ]:
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
print(squares.pop(4))

In [ ]:
squares

<b>popitem method: removes the last inserted key-value pair from the dictionary and returns it as a tuple.</b>
<ul><li>Format: dictionary.popitem()</li>
<li>Key-value pair returned as a tuple</li></ul>

<b>Example</b>

In [ ]:
phonebook = {'Chris':'555−1111', 'Katie':'555−2222', 'Joanne':'555−3333'}
key, value = phonebook.popitem()
print(key,value)

In [ ]:
phonebook

In [ ]:
import random
test_dict = {'Gfg' : 1, 'is' : 2, 'best' : 3}
print("The original dictionary is : " + str(test_dict))

key,val = random.choice(list(test_dict.items()))

print("The random pair is : " + str(key))

<b>Example</b>

In [ ]:
squares = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 7:49,9:81}
print(squares.popitem())

In [ ]:
squares

<b>values method: returns all the dictionaries values as a sequence</b>
<ul><li>Format: dictionary.values()</li>
<li>Use a for loop to iterate over the values</li></ul>

<b>Example</b>

In [ ]:
phonebook = {'Chris':'555−1111', 'Katie':'555−2222', 'Joanne':'555−3333'}
phonebook.values()

In [ ]:
for val in phonebook.values():
    print(val)

In [ ]:
sample_dict1 = { 'fname':'John','lname':'smith','age':25,'interets':['computer games','football']
                 , ('GPA','highschool'): 3.3}
print(sample_dict1['fname'])

In [ ]:
print(sample_dict1['interets'])

In [ ]:
print(sample_dict1[('GPA','highschool')])

<b>Note:</b> You cannot use numeric indices to access to values in a dictionary.

In [ ]:
sample_dict1[1]

In [ ]:
print(sample_dict1)
sample_dict1.pop('age')

In [ ]:
print(sample_dict1)

In [ ]:
sample_dict1 = { 'fname':'John','lname':'smith','age':25,'interets':['computer games','football']
                 , ('GPA','highschool'): 3.3}
len(sample_dict1)

In [ ]:
sample_dict1 = { 'fname':'John','lname':'smith','age':25,'interets':['computer games','football']
                 , ('GPA','highschool'): 3.3}
for i in sample_dict1: 
    print(sample_dict1[i])

In [ ]:
sample_dict1 = { 'fname':'John','lname':'smith','age':25,'interets':['computer games','football']
                 , ('GPA','highschool'): 3.3}
for key,value in sample_dict1.items(): 
    print(key, " : " , value)

### 1.7. Dictionary Comprehensions

A disctionary comprehension is an expression that reads a sequence of input elements and uses those input elements to produce a dictionary.

<b>Example</b>

In [ ]:
numbers = [1,2,3,4]

{1:1,2:4,3:9,4:16}

In [ ]:
dict = {item:item*item for item in numbers }
dict

Use a dictionary comprehension to make a copy of the phonebook dictionary:

In [ ]:
phonebook = {'Chris':'555−1111', 'Katie':'555−2222', 'Joanne':'555−3333'}

In [ ]:
cp = { key:val for key,val in phonebook.items()}
cp

In [ ]:
cp2 = {item:phonebook[item] for item in phonebook}
cp2

Create a dictionary that is a copy of the population dictionary, but contains only the elements for the cities with population greater than 2000000.

In [ ]:
populations = {'New York': 8398748, 'Los Angeles': 3990456,
               'Chicago': 2705994, 'Houston': 2325502,
               'Phoenix': 1660272, 'Philadelphia': 1584138}

In [ ]:
popCopy = {key:val for key,val in populations.items() if val >  2000000}
popCopy

<b>Example:</b>

Assume the following list,names = ['Chris','Katie','Joanne','Kurt'] write a statement that uses a dictionary comprehension to create a dictionary in which each element contains a name from the names list as its key, and the length of that name as its value.

In [ ]:
names = ['Chris','Katie','Joanne','Kurt'] 
dictName = {item: len(item) for item in names}
dictName

<b>Example:</b>

Assume the following dictionary exists: 
phonebook = {'Chris':'919-555-1111', 'Katie':'828-555-2222', 'Joanne':'704-555-3333', 'Kurt':'919-555-3333'}
Write a staement that uses a dictionary comprehension to create a second dictionary continuing the elements of phonebook that have a value starting with '919'

In [ ]:
phonebook = {'Chris':'919-555-1111','Yogesh':'Harish' ,'Katie':'828-555-2222', 'Joanne':'704-555-3333', 'Kurt':'919-555-3333'}
# phonebook
sorted(phonebook)
phonebook

In [ ]:
dictPhone = { key:value for key,val in phonebook.items() if val.startswith('919') }
dictPhone

## 2.Sets

Set accepts one argument in set() function as either:
1. list = set([1,3,'hello'])
2. tuple = set((1,2))
3. string = set('hello')

Set: object that stores a collection of data in same way as mathematical set.
<ul>
    <li>All items must be unique</li>
    <li>Set is unordered</li>
    <li>Elements can be of different data types</li>
</ul>

A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets. Sets are similar to lists with the distinction that they cannot contain duplicate values

### 2.1. Creating a Set

set function: used to create a set
<ul>
    <li>For empty set, call <i>set()</i></li>
    <li>For non-empty set, call <i>set(argument)</i> where <i>argument</i> is an object that contains iterable elements</li>
    <ul><li>e.g., <i>argument</i> can be a list, string, or tuple</li>
    <li>If <i>argument</i> is a string, each character becomes a set element</li>
        <ul><li>For set of strings, pass them to the function as a list</li></ul>
        <li>Sets cannot contain duplicate elements.</li>
           <ul><li>If <i>argument</i> contains duplicates, only one of the duplicates will appear in the set</li>
    </ul></ul></ul>

In [ ]:
myset = set()

In [ ]:
myset = set(['a', 'b', 'c'])
myset

In [ ]:
myset = set('abc')
myset

In [ ]:
myset = set(('a', 'b', 'c'))
myset

In [ ]:
myset = set('aaabc')
myset

In [ ]:
myset = set([1,2],[2,3])

<b>Example:</b>

In [ ]:
fruit_set = {"apple", "orange", "banana", "kiwi"}  #different from dict as dict is {key:value}
print(fruit_set)

In [ ]:
# Let's add another apple to the set and see the result
fruit_set2 = {"apple", "orange", "banana", "kiwi", "apple"} 
print(fruit_set2)

In [ ]:
# Here is another way to creat sets
fruit_set = set(["apple", "orange", "banana", "kiwi"])  # 1 arg as list
print(fruit_set)

<b>Example:</b> how would you create a set containing the elements 'one', 'two', and 'three'?

In [ ]:
myset = set('one', 'two', 'three')  # 3 arg as strings and set accepts one argument.
myset

In [ ]:
myset = set('one two three') # 1 arg as string so all char are considered as different elements
myset

In [ ]:
myset = set(('one', 'two', 'three')) #1 arg as tuple with length - 3
myset

### 2.2. Getting the Number of Elements in a Set

len function: returns the number of elements in the set

In [ ]:
myset = set([1, 2, 3, 4, 5,1,2])
len(myset)

In [5]:
setw = set([1,2])
print(setw)

type(setw)

{1, 2}

set

### 2.3. Adding and Removing Elements

<li>Sets are mutable objects</li>
<li><b>add method:</b> adds an element to a set</li>
<li><b>update method:</b> adds a group of elements to a set</li>
<ul><li>Argument must be a sequence containing  iterable elements, and each of the elements is added to the set</li></ul>

<b>Example:</b>

In [6]:
myset = set()
myset.add(1)
myset.add(2)
myset.add(3)
myset

{1, 2, 3}

In [9]:
myset.add(2)
myset

{1, 2, 3, 4}

In [18]:
fruit_set = {"apple", "orange", "banana", "kiwi"} #why does order change?
fruit_set.add("cherry")
print(fruit_set)

{'apple', 'cherry', 'banana', 'orange', 'kiwi'}

<b>Example:</b>

In [19]:
myset = set([1, 2, 3]) 
myset.update([4, 5, 6])
myset

{1, 2, 3, 4, 5, 6}

In [21]:
set1 = set([1, 2, 3])
set2 = set([8, 9, 10])
set1.update(set2)
set1

{1, 2, 3, 4, 8, 10}

In [ ]:
set2

In [24]:
myset = set([1, 2, 3])
myset.update('abc')
myset

{1, 2, 3, 'a', 'b', 'c'}

<b>remove and discard methods:</b> remove the specified item from the set
<ul>
    <li>The item that should be removed is passed to both methods as an argument</li>
    <li>Behave differently when the specified item is not found in the set</li>
    <li><i>remove</i> method raises a <i>KeyError</i> exception</li>
    <li><i>discard</i> method does not raise an exception</li></ul>
<b>clear method:</b> clears all the elements of the set

<b>Example:</b>

In [ ]:
myset = set([1, 2, 3, 4, 5])
myset

In [25]:
myset.remove(1)
myset

{2, 3, 'a', 'b', 'c'}

In [26]:
myset.discard(5) 
myset

{2, 3, 'a', 'b', 'c'}

In [27]:
myset.discard(99)

In [28]:
myset.remove(99)

KeyError: 99

In [ ]:
fruit_set = {"apple", "orange", "banana", "kiwi"}
fruit_set.discard("banana")
print(fruit_set)

<b>Example:</b>

In [29]:
myset = set([1, 2, 3, 4, 5])
myset

{1, 2, 3, 4, 5}

In [30]:
myset.clear()
myset

set()

### 2.4.Using the for Loop, in and not in Operators with a Set

A for loop can be used to iterate over elements in a set
<ul><li>General format: <i>for item in set:</i></li>
<li>The loop iterates once for each element in the set</li></ul>
The in operator can be used to test whether a value exists in a set
<ul>
    <li>Similarly, the not in operator can be used to test whether a value does not exist in a set</li></ul>

<b>Example:</b>

In [32]:
myset = set(['a', 'b', 'c'])
print(myset)
for val in myset:
    print(val)

{'c', 'b', 'a'}
c
b
a

In [33]:
myset = set([1, 2, 3])
if 1 in myset:
    print('The value 1 is in the set.')

The value 1 is in the set.

In [34]:
myset = set([1, 2, 3])
if 99 not in myset:
    print('The value 99 is not in the set.')

The value 99 is not in the set.

### 2.5.Finding the Union of Sets

<b>Union of two sets:</b> a set that contains all the elements of both sets
<li>To find the union of two sets:</li>
<ul><li>Use the union method</li>
    <ul><li>Format: set1.union(set2)</li></ul>
    <li>Use the | operator </li>
<ul><li>Format: set1 | set2</li></ul></ul>
<li>Both techniques return a new set which contains the union of both sets</li>

<b>Example:</b>

In [35]:
set1 = set([1, 2, 3, 4])
set2 = set([3, 4, 5, 6])
set3 = set1.union(set2)
set3

{1, 2, 3, 4, 5, 6}

In [36]:
set1 = set([1, 2, 3, 4])
set2 = set([3, 4, 5, 6])
set3 = set3|set2
set3

{1, 2, 3, 4, 5, 6}

In [40]:
fruit_set1 = {"apple", "orange", "banana", "kiwi"}

fruit_set2 = {"apple", "cherry", "pomegranate", "strawberry"}

fruit_set3=fruit_set2.union(fruit_set1)

# Keep in mind that the union function does not apply the operation to the set but it returns a new set

print(fruit_set3)

{'apple', 'strawberry', 'pomegranate', 'cherry', 'banana', 'orange', 'kiwi'}

### 2.6. Finding the Intersection of Sets

<b>Intersection of two sets:</b> a set that contains only the elements found in both sets
<li>To find the intersection of two sets:</li>
<ul><li>Use the intersection method</li>
    <ul><li>Format: set1.intersection(set2)</li></ul>
    <li>Use the & operator</li>
    <ul><li>Format: set1 & set2</li></ul>
    <li>Both techniques return a new set which contains the intersection of both sets</li>

<b>Example:</b>

In [41]:
set1 = set([1, 2, 3, 4])
set2 = set([3, 4, 5, 6])
set3 = set1.intersection(set2)
set3

{3, 4}

In [42]:
set1 = set([1, 2, 3, 4])
set2 = set([3, 4, 5, 6])
set3 = set1 & set2
set3

{3, 4}

In [43]:
fruit_set1 = {"apple", "orange", "banana", "kiwi"}
fruit_set2 = {"apple", "cherry", "pomegranate", "strawberry"}
fruit_intersection_set = fruit_set2.intersection(fruit_set1) 
print(fruit_intersection_set)

{'apple'}

### 2.7.Finding the Difference of Sets

<b>Difference of two sets:</b> a set that contains the elements that appear in the first set but do not appear in the second set
<li>To find the difference of two sets:</li>
<ul><li>Use the <i>difference</i> method</li>
    <ul><li>Format: <i>set1.difference(set2)</i></li></ul>
    <li>Use the - operator</li>
    <ul><li>Format: <i>set1 - set2</i></li></ul>

<b>Example:</b>

In [44]:
set1 = set([1, 2, 3, 4])
set2 = set([3, 4, 5, 6])
set3 = set2.difference(set1)
set3

{5, 6}

In [45]:
set1 = set([1, 2, 3, 4])
set2 = set([3, 4, 5, 6])
set3 = set1 - set2
set3

{1, 2}

### 2.8.Finding the Symmetric Difference of Sets

<b>Symmetric difference of two sets:</b> a set that contains the elements that are not shared by the two sets
<li>To find the symmetric difference of two sets:</li>
<ul><li>Use the <i>symmetric_difference</i> method</li>
    <ul><li>Format: <i>set1.symmetric_difference(set2)</i></li></ul>
    <li>Use the ^ operator</li>
    <ul><li>Format: <i>set1 ^ set2</i></li></ul>

<b>Example:</b>

In [46]:
set1 = set([1, 2, 3, 4])
set2 = set([3, 4, 5, 6])
set3 = set2.symmetric_difference(set1)
set3

{1, 2, 5, 6}

In [47]:
set1 = set([1, 2, 3, 4])
set2 = set([3, 4, 5, 6])
set3 = set1 ^ set2
set3

{1, 2, 5, 6}

In [48]:
fruit_set1 = {"apple", "orange", "banana", "kiwi"}
fruit_set2 = {"apple", "cherry", "pomegranate", "strawberry"}
fruit_difference = fruit_set2.symmetric_difference(fruit_set1) 
print(fruit_difference)

{'strawberry', 'pomegranate', 'cherry', 'banana', 'orange', 'kiwi'}

### 2.9. Finding Subsets and Supersets

<li>Set A is subset of set B if all the elements in set A are included in set B</li>
<li>To determine whether set A is subset of set B</li>
<ul><li>Use the <i>issubset</i> method</li> 
    <ul><li>Format: <i>setA.issubset(setB)</i></li></ul>
    <li>Use the <= operator </li>
        <ul><li>Format: <i>setA <= setB</i></li></ul>
        </ul>

<b>Example:</b>

In [49]:
set1 = set([1, 2, 3, 4])
set2 = set([2, 3])
set2.issubset(set1)

True

In [50]:
set1.issuperset(set2)

True

In [51]:
set1 = set([1, 2, 3, 4])
set2 = set([2, 3])
set2 <= set1

True

In [52]:
set1 <= set2

False

In [53]:
fruit_set1 = {"apple", "orange", "banana", "kiwi"}
fruit_set2 = {"apple", "cherry", "pomegranate", "strawberry"}
fruit_set2.issubset(fruit_set1)

False

In [54]:
fruit_set1.issubset(fruit_set2)

False

In [55]:
fruit_set1 = {"apple","strawberry"}
fruit_set2 = {"apple", "cherry", "pomegranate", "strawberry"}
fruit_set1.issubset(fruit_set2)

True

<li>Set A is superset of set B if it contains all the elements of set B</li>
<li>To determine whether set A is superset of set B</li>
<ul><li>Use the <i>issuperset</i> method</li>
<ul><li>Format: setA.issuperset(setB)</i></li></ul>
<li>Use the >= operator</li>
<ul><li>Format: <i>setA >= setB</i></li></ul>
</ul>

<b>Example:</b>

In [56]:
set1 = set([1, 2, 3, 4])
set2 = set([2, 3])
set1.issuperset(set2)

True

In [57]:
set1 >= set2

True

In [58]:
fruit_set1 = {"apple", "orange"}
fruit_set2 = {"apple", "cherry", "pomegranate", "strawberry","orange"}
fruit_set2.issuperset(fruit_set1)

True

### 2.10. Set Comprehensions

An expression that reads a sequence of input elements and uses those input elements to produce a set.

set comprehensions are written like list comprehensions, except that a set comprehension is enclosed in curly braces ({}), and list comprehensions are enclosed in suare brackets ([])

In [ ]:
set1 = set([1,2,3,4,5])
set2 = {item for item in set1}
print(set2)

In [ ]:
set2={item**2 for item in set1}
print(set2)

In [ ]:
set1 = set([1,20,2,40,3,50])
set2={item for item in set1 if item<10}
print(set2)

## 3. Serializing Objects

<li>Serialize an object: convert the object to a stream of bytes that can easily be stored in a file</li>

Pickling: serializing an object
<li>To pickle an object:</li>
<ul><li>Import the pickle module</li>
    <li>Open a file for binary writing. To open a file for binary writing, you use 'wb' as the mode when you call the open function.</li>
    <li>Call the pickle.dump function</li>
    <ul><li>Format: pickle.dump(object, file)</li></ul>
    <li>Close the file</li></ul>
<li>You can pickle multiple objects to one file prior to closing the file</li>

In [60]:
import pickle
phonebook = {'Chris' : '555−1111', 'Katie' : '555−2222','Joanne' : '555−3333'}
output_file = open('phonebook.dat', 'wb')
pickle.dump(phonebook, output_file)
output_file.close()

Unpickling: retrieving pickled object
<li>To unpickle an object:</li>
<ul><li>Import the pickle module</li>
    <li>Open a file for binary reading. To open a file for binary reading, you use 'rb' as the mode when you call the open function.</li>
<li>Call the pickle.load function</li>
    <ul><li>Format: pickle.load(file)</li></ul>
    <li>Close the file</li></ul>
    <li>You can unpickle multiple objects from the file</li>

In [61]:
import pickle
input_file = open('phonebook.dat', 'rb') 
pb = pickle.load(input_file) 
pb 

input_file.close()
print(pb)

{'Chris': '555−1111', 'Katie': '555−2222', 'Joanne': '555−3333'}

<b>Example:</b>

In [ ]:
import pickle

def main():
    again = 'y' # To control loop repetition
    
    #Open a file for binary writing.
    output_file = open('info.dat', 'wb')
    
    # Get data until the user wants to stop.
    while again.lower() == 'y':
    
        #Get data about a person and save it.
        save_data(output_file)

        #Does the user want to enter more data?
        again = input('Enter more data? (y/n): ')

    # Close the file.
    output_file.close()

# The save_data function gets data about a person, stores it in a dictionary, and then pickles the
# dictionary to the specified file.

def save_data(file):
    # Create an empty dictionary.
    person = {}

    # Get data for a person and store it in the dictionary.
    person['name'] = input('Name: ')
    person['age'] = int(input('Age: '))
    person['weight'] = float(input('Weight: '))

    # Pickle the dictionary.
    pickle.dump(person, file)
    
main()

In [ ]:
import pickle

def main():
    end_of_file = False  # To indicate end of file
    
    # Open a file for binary reading. 
    input_file = open('info.dat', 'rb')
    
    # Read to the end of the file. 
    while not end_of_file:
        try:
            # Unpickle the next object. 
            person = pickle.load(input_file)
            # Display the object.
            display_data(person) 
        
        except EOFError:
            # Set the flag to indicate the end of the file has been reached. 
            end_of_file = True
    
    input_file.close()

    # The display_data function displays the person data in the dictionary that is passed as an argument. 
def display_data(person):
    print('Name:', person['name']) 
    print('Age:', person['age']) 
    print('Weight:', person['weight']) 
    print()

main()